<div class="product-checkout-row">

  <div class="product-checkout-col product-checkout-img">
    <img src="<%= @product_row.product.image.url(:thumb) %>"/>
  </div>

  <div class="product-checkout-col product-checkout-name">
    <%= @product_row.product.name %>
  </div>

  <div class="product-checkout-col product-checkout-size">
    90x60x45cm
  </div>

  <div class="product-checkout-col product-checkout-amount">
    <%= @product_row.quantity %>
  </div>

  <div class="product-checkout-col product-checkout-price">
    <%= format_price @product_row.total %>
  </div>

</div>