<div class="profile-products-block">
  <div class="profile-products-inner-block">
    <% if current_user.orders.any? %>
      <% current_user.orders.order(:created_at => 'DESC').each do |order|
        @order = order      %>
        <%= render :partial => 'users/orders/order_row' %>
      <% end %>
    <% else %>
      <div class="no-products-message">
        No has realizado ninguna compra aún
      </div>
    <% end %>
  </div>
</div>