<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->



<div class="grilla user-cart">

  <!-- Checkout Block -->
  <%= render :partial => 'users/checkout_list' %>
  <!-- End Checkout Block -->


  <div class="total-row">

    <div class="total-sum">
      $<span>0</span>
    </div>

  </div>


</div>



<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
