<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->

<% if @current_purchased_orders.any? %>

  <div class="profile-purchase-header">

    <div class="grilla">

      <div class="purchase-block">
        <h2>tu compra</h2>
      </div>

      <% @current_purchased_orders.each do |order|
        @order = order  %>
        <%= render :partial => 'users/orders/order_tracking' %>
      <% end %>

    </div>
  </div>
<% end %>


<!-- Start Profile Detail -->
<%= render :partial => 'users/profile_detail' %>
<!-- End Profile Detail -->


<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>
<!-- End Footer -->
