<!-- Start Contact -->
<div class="slider-block odd">
  <div class="grilla">
    <div class="contact">

      <div class="face">
        <%= image_tag('face.png') %>
      </div>

      <div class="ins">
        <%= image_tag('ins.png') %>
      </div>

      <div class="ml">
        <%= image_tag('ml.png') %>
      </div>
    </div>

    <div class="mail">
      <h4>Consultá por los productos</h4>
      <h5>alo@macain.com.ar</h5>

      <div class="nom">
        <input type="text" id="nombre" placeholder="Nombre"/>
      </div>

      <div class="tel">
        <input type="tel" id="telefono" size="20" placeholder="Teléfono"/>
      </div>

      <div class="em">
        <input type="email" id="e-mail" placeholder="E-mail"/>
      </div>

      <div class="cons">
        <input type="text" id="cons" placeholder="Consulta"/>
      </div>

      <div class="cons">
        <input type="password" placeholder="Password"/>
      </div>

      <button type="button" class="but">Enviar</button>
    </div>
  </div>
</div>

<!-- End Contact -->
