<!-- Start Contact -->
<div class="slider-block odd">
  <div class="grilla">
    <div class="contact">

      <div class="ml">
        <%= image_tag('ml.png') %>
      </div>

      <div class="face">
        <%= image_tag('face.png') %>
      </div>

      <div class="ins">
        <%= image_tag('ins.png') %>
      </div>

    </div>

    <div class="mail">
      <h4>Consultá por los productos</h4>
      <h5><a href="mailto:alo@macain.com.ar" target="_blank">alo@macain.com.ar</a></h5>

      <input type="text" id="nombre" placeholder="Nombre"/>

      <input type="tel" id="telefono" size="20" placeholder="Teléfono"/>
      <input type="email" id="e-mail" placeholder="E-mail"/>
      <input type="text" id="cons" placeholder="Consulta"/>


      <input type="submit" class="but" value="Enviar">
    </div>
  </div>
</div>

<!-- End Contact -->
