<!-- Start Header -->
<div class="header">
  <div class="grilla">

    <div class="log">
      <%= image_tag('logo.png') %>
    </div>

    <div class="car">
      <%= image_tag('carrito.png') %>
    </div>
  </div>
</div>
<!-- End Header -->