<!-- Start Header -->
<div class="header">
  <div class="grilla">

    <a class="log" href="<%= root_path %>#productos">
      <%= image_tag('macain-logo-diseno-blanco-negro-minimalista.png') %>
    </a>

    <a href="<%= root_path %>#contacto" class="car">
      <%= image_tag('macain-compra.png') %>
    </a>
  </div>
</div>
<!-- End Header -->