<div class="header">


  <div class="log">
    <img src="images/logo.png">
  </div>

  <div class="menu">
    <div class="menu-btn">
      <a class="active" href="info">Info</a>
    </div>

    <div class="menu-btn">
      <a href="#productos">Productos</a>
    </div>

    <div class="menu-btn">
      <a href="#fabrica">Fábrica</a>
    </div>

    <div class="menu-btn">
      <a href="#promo">Promociones</a>
    </div>

    <div class="menu-btn">
      <a href="#interior">Interiorismo</a>
    </div>
  </div>


</div>