<div class="header">


  <a class="log" href="/">

    <%= image_tag('logo-macain-simple.jpg') %>
  </a>

  <div class="menu">


    <div class="menu-btn">
      <a class="active" href="info">Info</a>
    </div>

    <div class="menu-btn">
      <a href="#productos">Productos</a>
    </div>

    <div class="menu-btn">
      <a href="#fabrica">Fábrica</a>
    </div>

    <div class="menu-btn">
      <a href="#promo">Promociones</a>
    </div>



    <% if user_signed_in? %>
        <div class="menu-btn">
          <a href=""><%= current_user.email %></a>
          <%= link_to 'Salir', destroy_user_session_path, :method => :delete %>
        </div>
    <% else %>
        <div class="menu-btn">
          <%= link_to 'Ingresar / Registrate', new_user_session_path %>
        </div>
    <% end %>


  </div>


</div>