<div class="header">


  <a class="log" href="/">

    <%= image_tag('logo-macain-simple.jpg') %>
  </a>

  <div class="menu">
    <!--
    <div class="menu-btn">
      <a class="active" href="info">Info</a>
    </div>

    <div class="menu-btn">
      <a href="#productos">Productos</a>
    </div>

    <div class="menu-btn">
      <a href="#fabrica">Fábrica</a>
    </div>

    <div class="menu-btn">
      <a href="#promo">Promociones</a>
    </div>
-->
  </div>


</div>