<%= render :partial => 'home/fixed_top_nav' %>


<div class="tables-box-container tables-box-container-detail">
  <h1>Cotizador</h1>
</div>


<div class="cotizador-white-container">
  <div class="inner-container">

    <%= form_tag do %>

        <div class="show-rectangular">
          <label>Ancho (cm)</label>
          <input name="width_size" value="0" type="number" max="10000" min="0">

          <label>Alto (cm)</label>
          <input name="height_size" value="0" type="number" max="10000" min="0">
        </div>

        <div class="show-circular">
          <label>Diámetro</label>
          <input name="diameter_size" value="0" type="number" max="10000" min="0">
        </div>


        <label>Material</label>
        <% if @marvels.present? %>
            <select name="material">
              <% @marvels.each_with_index do |marvel, i| %>
                  <option value="<%= marvel.price %>"><%= marvel.name %></option>
              <% end %>
            </select>
        <% end %>


        <label>Tipo</label>
        <select name="shape">
          <option value="rectangular">Rectangular/Cuadrada</option>
          <option value="circular">Circular</option>
        </select>


        <div class="result-box">
          $<span>0</span>
        </div>
    <% end %>


  </div>
</div>