<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MC CAIN PAGE</title>
  <link rel="stylesheet" href="macain.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=10">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- Start Header -->
<div class="header">
  <div class="grilla">

    <div class="log">
      <img src="logo.png">
    </div>

    <div class="car">
      <img src="carrito.png">
    </div>
  </div>
</div>
<!-- End Header -->

<!--Start icons-->


<div class="icons">
  <div class="grilla">
    <div class="che">
      <img src="chess.png">
      <h5>Juegos de</h5>
      <h5> Ajedrez</h5>
    </div>

    <div class="tab">
      <img src="ratable.png">
      <h5>Mesas</h5>
      <h5>Ratonas</h5>
    </div>

    <div class="hor">
      <img src="horsy.png">
      <h5>Caballos</h5>
      <h5>Mecedores</h5>
    </div>

    <div class="clo">
      <img src="clock.png">
      <h5>Relojes</h5>
      <h5>de Mesa</h5>
    </div>
  </div>
</div>
<!-- End Icons -->


<!--Start CLOCK-->
<div class="grilla">
  <div class="clock">
    <h3>Relojes de diseño</h3>
    <h4>Colores a pedido de cerámica laqueada</h4>
    <img src="clocks.jpg">

    <div class="arrow">
      <img src="scroll-arrow.png">
    </div>
  </div>
</div>
<!-- End CLOCK-->


<!--Start PLAYS-->
<div class="grilla">
  <div class="plays">
    <h3>Juegos de Ajedrez</h3>
    <h4>Piezas laqueadas con aires de merluza</h4>
    <img src="chezz.png">

    <div class="arrow">
      <img src="scroll-arrow.png">
    </div>
  </div>
</div>

<div class="icon-list">
  <div class="det-list">
    <img src="chezz-icon.png">
  </div>

  <div class="circle-list">
    <img src="circle.png">
  </div>

  <div class="det-list">
    <img src="ratable.png">
  </div>

  <div class="circle-list">
    <img src="circle.png">
  </div>

  <div class="det-list">
    <img src="horsy.png">
  </div>

  <div class="circle-list">
    <img src="circle.png">
  </div>

  <div class="det-list">
    <img src="carrito.png">
  </div>

  <div class="circle-list">
    <img src="circle.png">
  </div>

  <div class="det-list">
    <img src="clock.png">
  </div>

</div>
<!-- End PLAYS -->


<!--Start TABLES-->
<div class="grilla">
  <div class="tables">
    <h3>Mesas Ratonas</h3>
    <h4>Lo único que le falta para ser un original Ratman</h4>
    <img src="table.png">

    <div class="arrow">
      <img src="scroll-arrow.png">
    </div>

  </div>
</div>
<!-- End TABLES -->


<!--Start HORSES-->
<div class="grilla">
  <div class="horses">
    <h3>Caballos Mecedores</h3>
    <h4>El primer caballo que Rupi no va a pervertir</h4>
    <img src="horsymc.png">

    <div class="arrow">
      <img src="scroll-arrow.png">
    </div>

  </div>
</div>
<!-- End HORSES -->


<!--Start CLOCK2-->
<div class="grilla">
  <div class="clock2">
    <h3>Relojes de Mesa</h3>
    <h4>Parecidos a la cabeza de la foca pero dan la hora</h4>
    <img src="clocks2.png">

    <div class="arrow">
      <img src="scroll-arrow.png">
    </div>

  </div>
</div>
<!-- End CLOCK2 -->

<!-- Start Contact -->
<div class="grilla">
  <div class="contact">

    <div class="face">
      <img src="face.png">
    </div>

    <div class="ins">
      <img src="ins.png">
    </div>

    <div class="ml">
      <img src="ml.png">
    </div>
  </div>

  <div class="mail">
    <h4>Consultá por los productos</h4>
    <h5>alo@macain.com.ar</h5>

    <div class="nom">
      <input type="text" id="nombre" placeholder="Nombre"/>
    </div>

    <div class="tel">
      <input type="tel" id="telefono" size="20" placeholder="Teléfono"/>
    </div>

    <div class="em">
      <input type="email" id="e-mail" placeholder="E-mail"/>
    </div>

    <div class="cons">
      <input type="text" id="cons" placeholder="Consulta"/>
    </div>

    <div class="cons">
      <input type="password" placeholder="Password"/>
    </div>

    <button type="button" class="but">Enviar</button>
  </div>
</div>

<!-- End Contact -->

</body>
</html>













