<body class="home">

<div class="outer-home">
  <div class="inner-home">
    <div class="logo-container">
      <%= image_tag('lazlo-logotipo.svg', class: 'logo') %>
    </div>

    <h2>proximamente</h2>


    <a class="social-icon facebook" href=""></a>
    <a class="social-icon instagram" href=""></a>
    <a class="social-icon pinterest" href=""></a>


  </div>
</div>
</body>

