<body class="home">

<div class="outer-home">
  <div class="inner-home">
    <div class="logo-container">
      <%= image_tag('lazlo-logotipo.svg', class: 'logo') %>
    </div>

    <h2>nos estamos renovando</h2>


    <a class="social-icon facebook smooth-transition" target="_blank" href="https://www.facebook.com/allomacain/"></a>
    <a class="social-icon instagram smooth-transition" target="_blank" href="https://www.instagram.com/lazlo.la/"></a>
    <a class="social-icon pinterest smooth-transition" target="_blank" href="https://ar.pinterest.com/"></a>


  </div>
</div>
</body>

