<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<h2 style="color: #FD6E6E; width: 100%; text-align: center;">|| Pophensen Email ||</h2>

<h3 style="">Baguette! Se concretó la siguiente compra "<%= @order.title %>" %>,</h3>

<p>El usuario que compró es <strong><%= @user.email %></strong></p>

<p>Ya se genero la Orden de compra y la podés ver desde
  <a href="<%= admin_order_url @order %>">ESTE LINK</a>
</p>

<p>Te paso los detalles abajo...</p>


<div style="border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 10px 35px;
    background: #EAEAEA;
    width: auto;
    display: inline-block;">

  <%= render :partial => 'admin_mailer/orders/order_row' %>

</div>

<p>Bueno Flaaaan, hasta la prox!</p>


<h5 style="font-family: 'Roboto Condensed', Arial; color: gray; margin: 40px 0px 20px 20px;">- The Gordínflon Server
  -</h5>
</body>
</html>




