<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

  <style>

      h2 {
          color: #FD6E6E;
          width: 100%;
          text-align: center;
      }

      .order-title {
          font-style: italic;
          color: gray;
      }

      .order-rows-container {
          border: 1px solid #69caca;
          border-radius: 4px;
          padding: 5% 35px;
          width: 90%;
          width: calc(90% - 2px);
          margin: 20px auto;
          display: inline-block;
      }

      h5 {
          font-family: 'Roboto Condensed', Arial;
          color: gray;
          margin: 40px 0px 20px 20px;
      }

      .product-row {
          position: relative;
      }

      .product-row a {
          color: #69caca;
          font-weight: bold;
          font-size: 14px;
          font-style: italic;
          width: 40%;
          display: inline-block;
      }

      .cart-product-quantity{
          width: 10%;
          display: inline-block;
          font-size: 16px;
      }

      .cart-product-price{
          width: 20%;
          display: inline-block;
          font-size: 16px;
      }

      .cart-product-image{
          width: 25%;
          display: inline-block;
          text-align: right;
      }

      .cart-product-image img{
          width: 100%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
      }

      .total-row {
          width: 100%;
          margin: 40px auto 0px;
          text-align: right;
      }

      .total-row h6 {
          display: inline-block;
          font-size: 16px;
          width: 70%;
      }

      .total-row span {
          display: inline-block;
          font-size: 22px;
          width: 20%;
      }

  </style>
</head>

<h2>|| Pophensen Email ||</h2>

<h3>Baguette! Se concretó la siguiente compra
  <div class="order-title">"<%= @order.title %>"</div>
</h3>

<p>El usuario que compró es <strong><%= @user.email %></strong></p>

<p>Ya se genero la Orden de compra y la podés ver desde
  <a href="<%= admin_order_url @order %>">ESTE LINK</a>
</p>

<p>Te paso los detalles abajo...</p>


<div class="order-rows-container">

  <%= render :partial => 'admin_mailer/orders/order_row' %>

</div>

<p>Bueno Flaaaan, hasta la prox!</p>


<h5>- The Gordínflon Server -</h5>



