<div class="user-purchased-item-block">

  <% if @order.order_products_list.present? and @order.order_products_list.order_products_rows.any? %>
    <% @order.order_products_list.order_products_rows.each do |product_row| %>
      <div class="product-row">

        <a href="<%= product_url product_row.product %>" class="fast-transition">
          <%= product_row.product_name %> <%= product_row.quantity > 1 ? " (x#{product_row.quantity })" : '' %>
        </a>

        <span class="cart-product-price">
          <%= format_price product_row.total %>
        </span>

      </div>
    <% end %>

  <% end %>
</div>