<!-- Start Header -->
<%= render :partial => 'layouts/header' %>
<!-- End Header -->


<div class="grilla">
  <div class="not-found-container">
    <svg>
      <use xlink:href="<%= image_url('sprite.svg') %>#lazlo-logo"/>
    </svg>

    <h2>Uppppss!</h2>
    <h1>No se pudo encontrar la página que estabas buscando</h1>

    <a href="<%= root_path %>" class="yellow-with-icon-hover button">
      VOLVER A LA HOME
    </a>
  </div>
</div>


<!-- Start Footer -->
<%= render :partial => 'layouts/footer' %>

<!-- End Footer -->



