
$thumb_size: 60px;

$margin_medium: 30px;

$grey_lazlo_bg: #f9f9f9;

$red_lazlo: #f38385;
$red_lazlo_hover: #f5999b;

$purple_lazlo: #c9afd4;
$purple_lazlo_hover: #bb98d4;

$green_lazlo: #69caca;
$green_lazlo_hover: #6edcdc;

$black_lazlo: #010203;
$black_lazlo_hover: #010203;
$soft_black_lazlo: rgba(0, 0, 0, 0.6);

$yellow_lazlo: #fed604;

$grey_hover: #828282;

$smooth_transition: all 0.3s ease-in-out;
$slow_transition: all .4s ease-in-out;


@font-face {
  font-family: 'futura';
  src: url('futura_book_font-webfont.woff2') format('woff2'),
  url('futura_book_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'futura';
  src: url('futura_bold_font-webfont.woff2') format('woff2'),
  url('futura_bold_font-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}