
$thumb_size: 60px;

$margin_medium: 30px;

$grey_lazlo_bg: #f9f9f9;
$grey_softer: rgba(74, 74, 74, 0.050980392156862744);

$red_lazlo: #f38385;
$red_lazlo_hover: #f5999b;

$purple_lazlo: #c9afd4;
$purple_lazlo_hover: #bb98d4;

$green_lazlo: #69caca;
$green_lazlo_hover: #6edcdc;

$black_lazlo: #010203;
$black_lazlo_hover: #010203;
$soft_black_lazlo: rgba(0, 0, 0, 0.6);

$yellow_lazlo: #fed604;
$yellow_lazlo_transparent: rgba(254, 214, 4, 0.6);

$grey_hover: #828282;

$smooth_transition: all 0.3s ease-in-out;
$slow_transition: all .4s ease-in-out;


@font-face {
  font-family: 'futura';
  src: url('futura-medium-01-webfont.woff2') format('woff2'),
  url('futura-medium-01-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura';
  src: url('futura-bold-03-webfont.woff2') format('woff2'),
  url('futura-bold-03-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'futura';
  src: url('futura-mediumitalic-02-webfont.woff2') format('woff2'),
  url('futura-mediumitalic-02-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

/*
@font-face {
  font-family: 'futura-condensed';
  src: url('futura-condensedmedium-04-webfont.woff2') format('woff2'),
  url('futura-condensedmedium-04-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura-condensed';
  src: url('futura-condensedextrabold-05-webfont.woff2') format('woff2'),
  url('futura-condensedextrabold-05-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'adam.cg_proregular';
  src: url('adam-cg-pro.regular-webfont.woff2') format('woff2'),
  url('adam-cg-pro.regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
*/