// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
// Active Admin's got SASS!


//$skinMainFirstColor: #69caca!default;
//$skinMainSecondColor: #f38385!default;
//$skinBorderWindowColor: #c9afd4!default;

@import "variables";
@import "active_admin/mixins";
@import "active_material";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.product-thumb {
  width: 40px;
}

tr {

  &.encargado td{
    background: #F7BCBC !important;
  }

  &.en-herreria td{
    background: #FFD789 !important;
  }
  &.en-pintureria td{
    background: #CAB1D5 !important;
  }
  &.listo-para-entregar td{
    background: #70CACE !important;
  }
  &.entregada td{
    background: #ACEFBA !important;
  }

  &.even td{
  }
  .status {
    font-weight: bold;
  }

}

a.finished-button{
  color: #009E00;
  font-weight: bold;
}

li.total-row-price{
  font-size: 16px;
}

#header h1 img{
  width: 95px;
}