@import "variables";
@import "active_admin/mixins";
@import "active_material";

.product-thumb {
  width: 40px;
}

thead tr {
  background: #ececec;
}

tr {

  td.col {

    a {
      color: $blue-state;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      text-transform: lowercase;
      padding: 2px 8px;

      &:hover{
        text-decoration: none;

      }
    }

    &.col-selectable {
      width: 1.5%;
      padding: 0px 1.5%;
    }

    &.col-nro {
      width: 2%;
      padding: 0px 1%;
    }

    &.col-buyer {
      width: 22%;
      font-size: 11px;
    }

    &.col-title {
      width: 10%;
    }

    &.col-pago {
      width: 10%;
    }

    &.col-orden {
      width: 20%;
      text-align: center;
      a {
        color: white;
      }
    }

    &.col-status {
      width: 10%;
    }

    &.col-payment {
      width: 10%;
    }

    &.col-fecha_limite {
      width: 10%;
    }

    &.status a {
      background: #F7BCBC !important;
    }

  }

  &.encargado .col-orden a {
    background: $blue-state;
  }

  &.en-herreria .col-orden a {
    background: $red-state ;
  }

  &.en-pintureria .col-orden a {
    background: $grey-state;
  }

  &.listo-para-entregar .col-orden a {
    background: $green-state;
  }

  &.entregada .col-orden a {
    background: #ACEFBA ;
  }


  .status {
    font-weight: bold;
  }

}

a.finished-button {
  color: #009E00;
  font-weight: bold;
}

li.total-row-price {
  font-size: 16px;
}

#header h1 img {
  width: 95px;
}