/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr
*= require_self
 *= require_tree .
/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/

/***** HOME *****/























/***** OLD STYLES *****/


.car {
  width: 50%;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: -7px;
}

.icons {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  color: dimgrey;
  padding: 28px 0px 8px;
  &.icons-footer {
    position: fixed;
    box-shadow: 0px 0px 12px #6F6F6F;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 50px;
    display: none;
    z-index: 12000;
    padding: 0px 0;
    .nav-icon {
      width: 20%;
      margin: 10px 0px 0px;
      img {
        max-width: 34px;
        max-height: 28px;
        height: 100vh;
      }
      &.macain-icon img {
        max-width: 60px;
        max-height: 60px;
        margin-top: -26px;
      }
    }
  }
}

.grilla {
  width: 1000px;
  text-align: center;
  display: inline-block;
  margin: 0px 2.5% 0px;
  max-width: 95%;
  position: relative;
}

.product-container {
  padding: 40px 0px 0px 0px;
  .image-container {
  }
}

.blured {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.product-container .image-container img {
  width: auto;
  max-width: 100%;
}

.nav-icon {
  width: 25%;
  text-align: center;
  display: inline-block;
  float: left;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  img {
    height: auto;
  }
}

h4 {
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;

}

.product-containerclock {
  height: 720px;
  background-color: white;
  margin-left: -186px;
}

.arrow {
  height: 100px;
  cursor: pointer;
  a {
    height: 65px;
    width: 65px;
    border: grey 3px solid;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("/assets/flecha.png") no-repeat center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #D6D6D6;
    }
  }
}

h3 {
  font-size: 36px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

.social {
  width: 50%;
  background-color: dimgrey;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 100vh;
  position: relative;
}

.contact {
  width: 50%;
  float: right;
}

.links {
  width: 50%;
}

.zero {
  width: 200px;
  background-color: dimgrey;
  height: 800px;
}

.soc {
  width: 50%;
  text-align: center;
  float: left;
  height: 800px;
}

.mail {
  width: 80%;
  float: right;
  height: auto;
  color: dimgrey;
  line-height: 2;
  margin: 110px 10% 40px;
  h4 {
    font-size: 20px;
    font-style: italic;
  }
  h5 a {
    font-size: 17px;
    font-style: italic;
    color: dimgrey;
  }
  .nom {
    margin-left: 4px;
    margin-bottom: 20px;
    margin-top: 112px;
  }
  .tel, .em, .cons {
    margin-left: 4px;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}


.icon-list {
  width: 55px;
  position: fixed;
  bottom: 74px;
  background-size: cover;
  background-position: center;
  right: 30px;
  top: 35%;
  text-align: center;
  z-index: 10000;
  li {
    list-style: none;
    height: 55px;
    div, a {
      width: 80%;
      display: inline-block;
      margin-top: 10px;
    }
  }
  div {
    img {
      width: 100%;
    }
    &.circle-list img {
      width: auto;
    }
  }
}

.det-list {
  margin-bottom: 13px;
  img {
    width: auto;
    max-height: 41px;
    max-width: 42px;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  }
}

.active .det-list img {
  max-height: 51px;
  max-width: 52px;
  margin: -3px;
}

.circle-list {
  margin: 8px 0px;
  border: #A2A2A2 1px solid;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
}

#slider-container {
}

.slider-block {
  background: white;
  margin: 10px 0px -10px;
  position: relative;
  &.odd {
    background: whitesmoke;
    overflow: hidden;
  }
  &.landing-block {
    z-index: 11000;
  }
}

.slide-img-container {
  height: 80%;
  max-height: 80%;
}


.landing-slides-container {
  margin: 20px auto 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 900px;
}


/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** Tracking *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

.full-container {
  width: 100%;
}

.buyers-data {
  margin-top: 70px;
  h1 {
    margin: 20px auto 20px;
    display: inline-block;
    font-size: 22px;
    color: #F48789;
  }
}

.status-blocks-container {
  width: 100%;
  margin: 25px 3% 0px -3%;
}

.status-block {
  width: 19%;
  float: left;
  position: relative;
  &.status-inactive {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(#greyscale);
    filter: gray;
  }
  .logo-container, p, label {
    width: 40%;
    text-align: center;
    float: right;
    margin: 0px 0px 0px 60%;
  }
  .logo-container img {
    max-width: 80px;
    position: relative;
    z-index: 10;
    width: 100%;
  }
  p {
    margin-top: 10px;
  }
  label {
    margin-bottom: 10px;
    font-size: 14px;
    height: 20px;
  }
  &.status-inactive p {
    margin-top: 10px;
    color: grey;
  }
  .status-line {
    background: #70CACE;
    height: 16px;
    position: absolute;
    width: 100%;
    top: 62px;
    left: -10%;
  }
  &:first-child .status-line {
    display: none;
  }
  &.status-inactive .status-line {
  }
}

.product-image img {
  max-width: 100%;
}

/************************************************************************************/
/************************************************************************************/
/***************************** Boxes Javascript *************************************/
/************************************************************************************/
/************************************************************************************/

.products-box-container {
  position: relative;
  width: 100%;
  padding: 45px 0px 0px;
  text-align: center;

  h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
    color: #3E3E3E;
    padding: 40px 0px;
  }

  .inner-container {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: -70px auto 10px;
    max-width: 1100px;
    position: relative;
  }

  .products-white-container {
    background: white;
    margin: 70px 0px;
  }

  &.products-box-container-detail {

    .text-detail-container {
      display: inline-block;
      width: 100%;
      text-align: left;
      margin: 60px auto;
      line-height: 24px;
    }

    .products-white-container {
      margin: 10px 0px;
    }

    .inner-container {
      max-width: 1000px;
    }

    .product-name {
      text-transform: uppercase;
      font-size: 22px;
    }
    .product-description {
      font-size: 14px;
    }

    .product-price {
      font-size: 36px;
      line-height: 50px;
      font-style: italic;
      margin: 10px auto;
      color: #3E3E3E;
    }
    .product-buy-button {
      font-size: 15px;
      background: #3E3E3E;
      padding: 10px 20px;
      margin: 20px auto;
      color: #DEDEDE;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #807D7D;
      }

    }
    .payment-methods {
      background: url('/assets/MP-payButton-logos.png');
      height: 28px;
      width: 164px;
      display: block;
      background-repeat: no-repeat;
      background-position: 0px -26px;
    }
  }
}

.product-box {
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-size: center center;

  color: #5E6469;
  position: absolute;

  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  /* easeInOutExpo */
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;

  .hidden-info {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90%;
    padding: 5%;
    width: 90%;
    background: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }

  &.small-box {
    h2 {
      font-size: 14px;
      color: #99abff;
      line-height: 22px;
    }

    .price {
      float: right;
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 16px;
      color: white;
    }

    &.big-box {
      h2 {
        font-size: 20px;
        line-height: 34px;
      }

      .price {
        font-size: 22px;
      }
    }
  }

  img {
    width: 100%;
  }

  &.small-box {
    width: 20%;
    height: 20%;
  }

  &.big-box {
    width: 40%;
    height: 40%;
  }

  &:hover .hidden-info {
    opacity: 1;
  }
}

.size21, .size22, .size23, .twocols {
}

.size31, .size32, .size33, .threecols {
}

/************************************************************************************/
/*************************** DETAIL PAGE ********************************************/
/************************************************************************************/

.half-container {
  width: 50%;

  &.half-container-left {
    float: left;
    width: 60%;
  }

  &.half-container-right {
    float: right;
    width: 40%;
  }
}

.image-detail-container {
  display: inline-block;
  width: 100%;

  img {
    width: 100%;
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 900px) {
  .status-blocks-container {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10% 2% 0px 0px;
    width: 20%;
    height: 90%;
  }
  .status-block {
    width: 100%;
    height: 20%;
    .logo-container img {
    }
    label {
      float: left;
      width: 55%;
      margin: 0px 0px 0px 0px;
      text-align: right;
    }
    p {
      margin: -5px 0px 0px 0px;
      float: left;
      font-size: 12px;
      text-align: right;
      width: 55%;
    }
    .logo-container {
      float: right;
      margin: 0px;
      width: 30%;
    }
    .status-line {
      height: 100%;
      width: 7%;
      bottom: 95%;
      right: 12%;
      left: inherit;
      top: inherit;
    }
    &.status-inactive p {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 700px) {
  .social, .contact {
    width: 100%;
    height: 50vh;
  }
  .social {
    height: 50px;
    display: inline-block;
  }
  .contact {
  }
  .social-block {
    height: 100%;
    position: relative;
    width: 33.3%;
    display: inline-block;
    float: left;
    top: 0px !important;
    margin: 0px 0px;
    img {
      max-height: 25px;
      max-width: 50%;
      margin: 8px 0px;
    }
  }
  .grilla-social {
    margin: 0px;
    max-width: 100%;
    margin: 25px 0px 0px;
  }
  .icons {
    height: auto;
    padding: 36px 0px 0px;
  }
  .nav-icon {
    margin: 10px 0%;
  }
  .landing-slides-container img {
    width: 100%;
    height: auto;
  }
  .hide-in-mobile, .arrow, .icon-list {
    display: none !important;
  }
  .hide-in-desktop {
    display: inline-block !important;
  }
  .icons.icons-footer {
    display: block !important;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 11px;
  }
  .mail {
    margin: 10px 10% 40px;
    h4 {
      line-height: 20px;
      font-size: 17px;
    }
    h5 a {
      font-size: 15px;
    }
    input {
      margin: 25px 0px auto 0px;
    }
  }
  input[type='submit'].but {
    width: 100%;
    margin: 20px auto 0px;
    padding: 10px 0px;
  }
  .social-block {
    &.ml {
      background: #FFF059;
    }
    &.face {
      background: #4c66a4;
    }
    &.ins {
      background: #3f729b;
    }
  }
  .status-blocks-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 15% 2% -15% 0px;
    width: 35%;
    height: 95%;
    top: inherit;
  }
  .tracking-container {
    width: 55%;
    margin: 40px 0px 0px 5%;
    display: inline-block;
    float: left;
  }
  .status-block {
    p {
      font-size: 10px;
    }
    label {
      margin-top: -10px;
      font-size: 10px;
    }
  }
  .buyers-data h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {

  .products-box-container h1 {
    padding: 25px 0px;
    font-size: 25px;
  }

  .product-box.small-box.big-box h2,
  .product-box.small-box h2 {
    font-size: 10px;
    line-height: 14px;
  }

  .product-box.small-box.big-box .price,
  .product-box.small-box .price {
    width: 100%;
    right: 0px;
    bottom: 10px;
    font-size: 12px;
  }

  .half-container.half-container-left,
  .half-container.half-container-right {
    width: 100%;
  }

  .products-box-container.products-box-container-detail {
    .text-detail-container {
      width: 95%;
      margin: 0px 2.5%;
    }
    .product-buy-button {
      margin: 40px 0px 0px 25%;
      width: 50%;
      text-align: center;
      padding: 10px 0px;
    }
    .payment-methods {
      background-size: cover;
      margin: 15px 0px 30px 25%;
      width: 50%;
    }
    .product-name {
      font-size: 18px;
    }
    .product-price {
      font-size: 26px;
    }

  }

}

.transition {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}