/*
 *  Author     : Borba Jr
*= require_self
 *= require_tree .

/***** OLD STYLES *****/

.icons {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  color: dimgrey;
  padding: 28px 0px 8px;
  &.icons-footer {
    position: fixed;
    box-shadow: 0px 0px 12px #6F6F6F;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 50px;
    display: none;
    z-index: 12000;
    padding: 0px 0;
    .nav-icon {
      width: 20%;
      margin: 10px 0px 0px;
      img {
        max-width: 34px;
        max-height: 28px;
        height: 100vh;
      }
      &.macain-icon img {
        max-width: 60px;
        max-height: 60px;
        margin-top: -26px;
      }
    }
  }
}

.social {
  width: 50%;
  background-color: dimgrey;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 100vh;
  position: relative;
}


