/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr
*= require_self
 *= require_tree .
/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/

/***** HOME *****/



/***** OLD STYLES *****/

.icons {
  background-color: whitesmoke;
  height: auto;
  width: 100%;
  color: dimgrey;
  padding: 28px 0px 8px;
  &.icons-footer {
    position: fixed;
    box-shadow: 0px 0px 12px #6F6F6F;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 50px;
    display: none;
    z-index: 12000;
    padding: 0px 0;
    .nav-icon {
      width: 20%;
      margin: 10px 0px 0px;
      img {
        max-width: 34px;
        max-height: 28px;
        height: 100vh;
      }
      &.macain-icon img {
        max-width: 60px;
        max-height: 60px;
        margin-top: -26px;
      }
    }
  }
}

.grilla {
  width: 1000px;
  text-align: center;
  display: inline-block;
  margin: 0px 2.5% 0px;
  max-width: 95%;
  position: relative;
}

.nav-icon {
  width: 25%;
  text-align: center;
  display: inline-block;
  float: left;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
  img {
    height: auto;
  }
}

h4 {
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;

}

h3 {
  font-size: 36px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

.social {
  width: 50%;
  background-color: dimgrey;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 100vh;
  position: relative;
}




.icon-list {
  width: 55px;
  position: fixed;
  bottom: 74px;
  background-size: cover;
  background-position: center;
  right: 30px;
  top: 35%;
  text-align: center;
  z-index: 10000;
  li {
    list-style: none;
    height: 55px;
    div, a {
      width: 80%;
      display: inline-block;
      margin-top: 10px;
    }
  }
  div {
    img {
      width: 100%;
    }
    &.circle-list img {
      width: auto;
    }
  }
}


.slider-block {
  background: white;
  margin: 10px 0px -10px;
  position: relative;
  &.odd {
    background: whitesmoke;
    overflow: hidden;
  }
  &.landing-block {
    z-index: 11000;
  }
}

.slide-img-container {
  height: 80%;
  max-height: 80%;
}


.landing-slides-container {
  margin: 20px auto 15px;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 900px;
}


