@import "variables";

.user-cart {

  &.grilla{
    margin: 20px auto 0px;
  }
 
  .cart-product-row {
    width: 100%;
    display: table;

    .fa-times,
    .cart-product-image,
    .cart-product-price,
    .cart-product-quantity,
    h2,
    h2 a {
      width: 20%;
      display: table-cell;
      vertical-align: middle;
      color: $black_lazlo;
      font-size: 20px;

      &:hover {
        color: $grey_hover;
      }
    }

    .cart-product-image {
      width: 10%;
      min-width: 100px;

    }

    .fa-times {
      color: $black_lazlo;
      width: 5%;
      cursor: pointer;
      font-size: 20px;

      &:hover {
        color: $grey_hover;
      }
    }

    h2 {
      text-align: left;
      width: 13%;
    }

    .cart-product-quantity {
      font-size: 26px;
      width: 6%;

      &:hover {
        color: $black_lazlo;
      }

      .quantity-message {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 12px 0px 0px;
      }
      .quantity-controls {
        font-size: 20px;
        display: table-cell;
        vertical-align: middle;

        i {
          display: block;
          color: $purple_lazlo;
          cursor: pointer;
          margin: 3px 0px;

          &:active {
            color: $purple_lazlo_hover;
          }
        }
      }
    }
    .cart-product-price {
      width: 17%;
      font-size: 26px;
      text-align: center;
      &:hover {
        color: inherit;
      }
    }
  }

  .total-row {
    border-top: 1px solid gray;
    display: inline-block;
    width: 92%;
    text-align: right;
    color: $purple_lazlo;
    font-size: 34px;
    padding: 10px 4% 0px;
    margin: 14px 0% 0px;

    .total-sum-container {
      width: 100%;
      display: inline-block;

      .total-sum {
        width: 50%;
        text-align: center;
        max-width: 300px;
        float: right;
      }
    }

    .checkout-button {
      float: right;
      margin: 16px auto 10px;
      max-width: 300px;
    }
  }
}

.user-cart-checkout {

  &.grilla{
    margin: 20px auto 0px;
  }

  .cart-product-row {
    width: 100%;
    display: table;

    .fa-times,
    .cart-product-image,
    .cart-product-price,
    .cart-product-quantity,
    h2,
    h2 a {
      width: 20%;
      display: table-cell;
      vertical-align: middle;
      color: $grey_hover;
      font-size: 20px;

      &:hover {
        color: $grey_hover;
      }
    }

    .cart-product-image {
      width: 2%;
      min-width: 20px;
      padding: 0px 3% 0px 0px;

      img{
        width: 100%;
      }
    }

    h2 {
      text-align: left;
      width: 13%;
    }

    .cart-product-quantity {
      font-size: 26px;
      width: 6%;

      .quantity-message {
        display: table-cell;
        vertical-align: middle;
        padding: 0px 12px 0px 0px;
      }

    }
    .cart-product-price {
      width: 17%;
      font-size: 26px;
      text-align: center;
    }
  }

  .total-row {
    border-top: 1px solid gray;
    display: inline-block;
    width: 92%;
    text-align: right;
    color: $purple_lazlo;
    font-size: 34px;
    padding: 10px 4% 0px;
    margin: 14px 0% 0px;

    .total-sum-container {
      width: 100%;
      display: inline-block;

      .total-sum {
        width: 50%;
        text-align: center;
        max-width: 300px;
        float: right;
      }
    }

    .edit-cart-button {
      float: left;
      font-size: 18px;
      padding: 24px 0px;
      color: $black_lazlo;

      &:hover {
        opacity: 0.85;
      }
    }
    .buy-button {
      margin: 16px auto 10px;
      max-width: 300px;
    }
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 750px) {

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE 2*********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 450px) {

}