/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr

/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/
/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
@import "variables";

@font-face {
  font-family: 'futuralight';
  src: url('futura_light_bt-webfont.woff2') format('woff2'),
  url('futura_light_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.home {
  .bx-wrapper {

    .bx-controls {
      position: absolute;
      top: 55%;
      left: 4%;

      .bx-pager.bx-default-pager {

        a {
          background: white;
        }

        a:hover,
        a.active {
          background: $yellow_lazlo;
        }
      }
    }
  }

  section.categories {
    margin: 10px auto 10px;

    .left-column,
    .right-column {
      width: 49%;
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
    }

    .home-category-block {
      float: left;
      width: 100%;
      height: 288px;
      position: relative;
      padding: 0px 0px 26px 0px;
      margin: 0px 0px 5px 0px;

      h2 {
        position: absolute;
        bottom: 0px;
        opacity: 0.8;
        z-index: 99;
      }

      .image-block-with-hover {
        float: right;
        position: relative;

        width: 488px;
        height: 288px;

        img {
          display: inline-block;
          width: 100%;
        }

      }

      &.odd {
        .image-block-with-hover {
          width: 584px;
          height: 286px;
        }
      }

    }

    .left-column {
      float: left;
      margin: 78px 15px 0px 0px;
    }

    .right-column {
      float: right;
      margin: 0px 0px 0px 15px;

      .home-category-block {

        .image-block-with-hover {
          float: left;
        }
        h2 {
          right: 0px;
        }
      }
    }

  }

  section.contact {
    margin: 200px auto 0px;
    display: inline-block;
    width: 100%;
    position: relative;

    img {
      float: left;
      max-width: 664px;
      width: 52%;
    }
    .floating-text {
      font-size: 28px;
      opacity: 0.8;
      margin-left: -36px;
      position: absolute;
      left: 52%;
      top: 25%;

      button.yellow-with-hover {
        display: block;
        padding: 10px 15px;
        margin: 30px 0px;

        svg {
          display: inline-block;
          width: 40px;
          height: 20px;
          margin: -10px 0px -6px 6px;
        }
      }
    }
  }

  section.products {
    margin: 200px auto 20px;
    width: 100%;
    display: flex;

    .left-product,
    .right-product {
      position: relative;
      display: inline-block;
      align-self: flex-end;


    }

    .left-product {
      float: left;
      width: 56%;
      margin: 0px 1% 0px 0px;

      .image-block-with-hover {
        float: right;
      }
    }

    .right-product {
      float: right;
      width: 42%;
      margin-left: 1%;

      .image-block-with-hover {
        float: left;
      }
    }


  }

  section.promotions {
    display: inline-block;
    width: 100%;
    position: relative;

    .left-promotion,
    .right-promotion {
      position: relative;
      float: left;
    }

    .left-promotion {
      background-size: cover;
      width: 44%;
      height: 350px;
      max-width: 555px;
      position: relative;
      margin: 0px 1% 0px 0px;

      .product-description {
        z-index: 10;
        position: relative;
        text-align: center;

        h3 {
          display: inline-block;
          font-size: 100px;
          text-align: center;
          line-height: 1.1;
          margin-top: 12%;
        }
      }

      span {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: url(promotion-home-lazlo.jpg);
      }
    }

    .right-promotion {
      margin-left: 1%;
      background: $yellow_lazlo;
      max-width: 585px;
      width: 54%;
      text-align: center;
      padding: 10px 0px 30px;
      z-index: 9;

      svg {
        width: 20%;
        max-width: 111px;
      }

      h5 {
        font-size: 36px;
        width: 100%;
        text-align: center;
        margin: -10px auto 10px;
      }

      button.yellow-with-hover {
        padding: 10px 14px;

        &:after {
          background: white;
        }
      }

    }

  }

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 650px) {
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE 2*********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 650px) {

  body {
    h2 {
      font-size: 1.3em;
    }
  }
}

@media screen and (max-width: 450px) {

}