/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr

/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/

/*--------------------------------------------------------
Resets
--------------------------------------------------------*/

$margin_medium: 30px;
$red_macain: #f38385;

html, body {
  height: 100% !important;
  text-align: center;
  overflow-x: hidden;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: #5d8686;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

input {
  border: 1px solid #5d8686;
  outline: none;
  padding: 12px 2%;
  font-size: 15px;
  color: #5d8686;
  background: none;
  display: block;
  width: 96%;
  width: calc(96% - 2px);
  margin: 10px auto;
  box-shadow: none;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  &:focus {
    border-color: #e4c6f1;
  }

  &[type="submit"] {
    background: #69caca;
    border-color: #69caca;
    width: 100%;
    cursor: pointer;
    color: white;
    font-weight: bold;
    -webkit-appearance: none;

    &:hover {
      background: #62bdbd;
    }
  }

  &[type="checkbox"] {
    width: auto;
    float: left;
  }
}

.medium-border-radious {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.small-border-radious {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.smooth-transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.margin-top-medium {
  margin-top: $margin_medium;
}

.margin-bottom-medium {
  margin-bottom: $margin_medium;
}

/******* Header *******/

header {

  .social-nav-container {
    background: url(fondo-colores.png);

    .social-nav {
      background: #69CACA;
      margin-top: 50px;
      display: inline-block;
      width: 100%;
      border-top: 1px solid white;

      .grilla {
        margin: 0px;
      }

      .social-block {
        width: 50%;
        float: left;
        text-align: left;
        font-size: 0px;
        margin-bottom: -4px;

        &.social-block-left {

        }
        &.social-block-right {
          text-align: right;

          a {
            font-size: 14px;
            padding: 12px 15px;

            &:hover {
              text-decoration: underline;
              background: none;
            }
          }
        }

        a {
          text-decoration: none;
          color: white;
          padding: 10px 15px;
          display: inline-block;
          text-align: right;
          border-right: 1px solid white;
          font-size: 18px;

          &:hover {
            background: #5d8686;
          }
        }

      }

    }
  }

  .logo {
    width: 100%;
    display: inline-block;

    img {
      width: 65%;
      margin-top: -5px;
      max-width: 200px;
      margin-bottom: -48px;
    }
  }

  nav {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #5d8686;
    border-bottom: 1px solid #69CACA;
    font-size: 0px;
    background: white;
    position: relative;


    a {
      text-decoration: none;
      color: #5d8686;
      padding: 15px 25px;
      font-size: 13px;
      display: inline-block;
      text-transform: uppercase;

      &:hover,
      &.active {
        background: #5d8686;
        color: white;
      }
    }
  }

}

.notification-bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #69ca8d;
  line-height: 51px;
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid white;
  top: -1px;
  overflow: hidden;

  &.hidden-bar{
    display: none;
  }
  
  &.alert {
    background: $red_macain;
  }

  p{
    width: 92%;
    margin: 0px 4%;
  }

  i{
    float: right;
    position: absolute;
    right: 0px;
    padding: 0% 13px;
    bottom: 0px;
    height: 100%;
    cursor: pointer;
    line-height: 52px;

    &:hover{
      color: #eaeaea
    }
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 750px) {

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE 2*********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 450px) {

}