/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr

/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/
/*---Active admin files in /vendor/assets/stylesheets/ --*/
@import "variables";

html, body {
  text-align: center;
  overflow-x: hidden;
  background: $grey_lazlo_bg;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'futura', arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
  color: $black_lazlo;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

body {
  text-align: center;
  position: relative;
  color: $black_lazlo;
}

h1, h2, h3, h4, h5, h6, button {
  font-family: 'futura', arial, sans-serif;
  font-weight: bold;
}

h1 {
}

h2 {
  font-size: 40px;
}

h3 {

}

h4 {
}

h5 {
}

h6 {
  font-size: 16px;
}

button {
  cursor: pointer;

  &.yellow-with-hover {
    margin: 0px;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bolder;
    background: transparent;
    outline: none;
    position: relative;

    border: solid 4px $black_lazlo;

    -webkit-transition: $smooth_transition;
    -moz-transition: $smooth_transition;
    -o-transition: $smooth_transition;
    transition: $smooth_transition;

    &:hover:after {
      height: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      background: $yellow_lazlo;
    }
  }

}

.yellow-button {
  background: $yellow_lazlo;
}

input,
textarea {
  outline: none;
  font-family: 'futura', arial, sans-serif;
  font-weight: bold;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.medium-border-radious {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.small-border-radious {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.smooth-transition {
  -webkit-transition: $smooth_transition;
  -moz-transition: $smooth_transition;
  -o-transition: $smooth_transition;
  transition: $smooth_transition;
}

.transition {
  -webkit-transition: $slow_transition;
  -moz-transition: $slow_transition;
  -o-transition: $slow_transition;
  transition: $slow_transition;
}

.fast-transition {
  -webkit-transition: $slow_transition;
  -moz-transition: $slow_transition;
  -o-transition: $slow_transition;
  transition: $slow_transition;
}

.margin-top-medium {
  margin-top: $margin_medium;
}

.margin-bottom-medium {
  margin-bottom: $margin_medium;
}

.with-hover {

  span {
    position: relative;
  }

  svg.hovered,
  svg.header-icon {
    background-color: transparent;
    fill: currentColor;
    width: 29px;
    height: 28px;

    position: absolute;
    top: 0px;
    left: 0px;
  }

  svg.hovered {
    opacity: 0;

    -webkit-transition: $slow_transition;
    -moz-transition: $slow_transition;
    -o-transition: $slow_transition;
    transition: $slow_transition;
  }

  &:hover {
    svg.hovered {
      opacity: 1;
    }
  }

}

.grilla {
  width: 1300px;
  text-align: center;
  display: inline-block;
  margin: 0px 2.5% 0px;
  max-width: 95%;
  position: relative;
}

/******* Header *******/

header {
  text-align: center;
  width: 100%;
  height: 62px;
  background-color: #ffffff;

  nav.grilla {
    margin: 0px;
    height: inherit;

    .left-container {
      float: left;

      .menu-button {
        float: left;
        text-align: center;
        padding: 19px 0px;
        margin: 0px 50px 0px 0px;

        h2 {
          display: inline-block;
          color: $black_lazlo;

          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;

          &.expandable {
            position: relative;
          }

          &.expandable:after {
            content: "⌄";
            top: -5px;
            right: -18px;
            position: absolute;
          }
        }

        span {
          width: 90%;
          height: 2px;
          display: block;
          margin: 0px 5%;
          background-color: $yellow_lazlo;

          -webkit-transform: scaleX(0);
          transform: scaleX(0);
        }

        &:hover span,
        &.current-section span {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }

      .logo {
        padding: 14px 13px 14px 0px;
        width: 132px;
        height: 30px;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .right-container {
      float: right;
      text-align: right;

      a {
        padding: 19px 7px 15px;
        display: inline-block;
        cursor: pointer;
        float: left;
        width: 29px;
        height: 28px;

        &:hover {
        }

        &.header-user-name {
          width: 94px;
          height: 21px;
          font-size: 16px;
          text-align: left;
          color: rgba(0, 0, 0, 0.6);
          padding: 20px 9px;

          &:hover {
            color: #fed604;
          }
        }

        &.cart-block {
          position: relative;

          span {
            display: inline-block;
            width: 100%;
            height: 100%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: transparent;
          }

          &:hover span {
            background: rgba(254, 214, 4, 1);
          }

          .notification-number {
            background: #ff0e12;
            position: absolute;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            text-align: center;
            top: 2px;
            right: 2px;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

    }

  }

}

.notification-bar {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background: $green_notification;
  line-height: 51px;
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid white;
  top: -1px;
  overflow: hidden;

  &.hidden-bar {
    display: none;
  }

  &.alert {
    background: $red_lazlo;
  }

  p {
    width: 92%;
    margin: 0px 4%;
    padding: 20px 0px;
    display: inline-block;
    text-align: center;
  }

  .close-notification-bar {
    float: right;
    position: absolute;
    cursor: pointer;
    line-height: 52px;
    height: 25px;
    width: 25px;
    right: 2%;
    top: 0px;
    padding: 18px;

    &:hover {
      color: #ffffff

    }
  }
}

.error_notification {
  color: #ff2121;
  margin: 10px 0px;
  font-size: 14px;
}

span.error {
  color: #ff2121;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-size: 14px;

  &.notice,
  &.alert {
    text-align: center;
  }
}

/******* Containers *******/
.half-container {
  width: 50%;

  &.half-container-left {
    float: left;
  }

  &.half-container-right {
    float: right;
  }
}

/******* 404 Page *******/
.not-found-container {
  width: 100%;

  .not-found-image {
    margin: 40px auto;
    max-width: 100%;
  }

  h1 {
    font-size: 40px;
    margin: 0px auto 50px;
  }

  h2 {
    font-size: 48px;
    margin: 0px auto 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .green-button {
    padding: 14px 24px;
    color: white;
  }
}

/******* Buttons *******/

/******* Breadcrumbs *******/

.breadcrumbs {
  display: block;
  text-align: left;
  color: $black_lazlo;
  margin-top: 16px;

  a {
    display: inline-block;
    color: $black_lazlo;
    font-family: 'Josefin Sans', sans-serif;

    &.active {
      font-weight: bolder;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 10px;
    margin: 0px 5px 0px;
  }
}

/******* Footer *******/

.footer {

  padding: 40px 0px 60px;
  font-size: 13px;
  margin-top: 60px;

  .footer-block {
    width: 30%;
    margin: 0px 4% 0px 0px;
    float: left;
    text-align: left;

    &:last-child {
      margin-right: 0px;
    }

    h6 {
      margin: 0px 0px 24px 0px;
      font-size: 14px;

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
      }
    }

    .contact {
      a,
      address {
        font-size: 14px;
        margin-bottom: 8px;
        display: inline-block;
      }

      address {
        display: block;
      }
    }

    form {
      width: 100%;
      position: relative;
      z-index: 9;

      input,
      button {
        float: left;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      input {
        width: 66%;
        background: $grey_softer;
        border: none;
        padding: 15px 4%;
        margin: 0px 1% 0px 0px;
        font-size: 13px;
        font-style: italic;
      }

      button {
        width: 25%;
      }
    }
    .social-icons {
      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 20px 15px 0px 0px;

        &:hover {
          opacity: 0.6;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  a.social-icons {
    display: inline-block;
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
    height: 35px;
    text-align: center;
    border-radius: 50px;
    background: #666;
    color: #222;

    i {
      font-size: 20px;
      margin: 7px;

    }

    &:hover {
      background: #999;
      color: #222;
      text-decoration: none;
    }
  }

  .instagram-fotos {
    a {
      float: left;
      width: 24%;
      max-width: 77px;
      margin: 0px 14px 0px 0px;
      max-height: 73px;

      &:hover {
        opacity: 0.85;
      }
      img {
        width: 100%;
      }
    }
  }

}

/******* Footer Nav *******/

.social-nav-footer {
  background: #69CACA;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  display: none;
  position: fixed;
  bottom: 0px;

  a.social-icons {
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    width: 20%;
    float: left;

    &:hover {
      color: #f38385;
    }
  }

}

/******* Contact *******/

.contact-form {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  font-size: 30px;
  overflow: auto;
  z-index: 9999;

  display: none;
  opacity: 0;

  .contact-form-inner {
    width: 70%;
    height: 70%;
    margin: auto;
    top: 7%;
    position: absolute;
    left: 10%;

    background: #f9f9f9;
    color: $black_lazlo;
    padding: 5%;

    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  }

  input,
  textarea {
    color: $black_lazlo;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    margin-top: 40px;
    width: 100%;
    background: transparent;
    padding: 0px 0px 5px 0px;
  }

  textarea {
    resize: vertical;
    height: 30px;
  }

  input[type='submit'] {
    background: $yellow_lazlo;
    color: $black_lazlo;

    max-width: 230px;
    width: 36%;
    margin-top: 60px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 55px;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

  }

  svg {
    width: 23px;
    height: 23px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  ::-webkit-input-placeholder {
    color: $black_lazlo;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: $black_lazlo;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $black_lazlo;
  }

  :-ms-input-placeholder {
    color: $black_lazlo;
  }

  h5 {
    font-size: 50px;
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 650px) {
  .footer .footer-block {
    display: block;
    width: 90%;
    margin: 0px 5% 20px;
    text-align: center;

    .cta-btn {
      float: none;
    }
  }

  .contact-form .fa-times {
    font-size: 40px;
  }

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** Tracking *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

.full-container {
  width: 100%;
}

.buyers-data {
  margin-top: 70px;
  margin: 0px 10%;
  line-height: 35px;

  h1 {
    margin: 20px 10% 20px;
    display: inline-block;
    font-size: 22px;
    color: #F48789;
    width: 80%;
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 900px) {
  .status-blocks-container {
    margin: 10% 2% 0px 0px;
    width: 20%;
    height: 90%;
  }
  .status-block {
    width: 100%;
    height: 20%;
    .logo-container img {
    }
    label {
      float: left;
      width: 55%;
      margin: 0px 0px 0px 0px;
      text-align: right;
    }
    p {
      margin: -5px 0px 0px 0px;
      float: left;
      font-size: 12px;
      text-align: right;
      width: 55%;
    }
    .logo-container {
      float: right;
      margin: 0px;
      width: 30%;
    }
    .status-line {
      height: 100%;
      width: 7%;
      bottom: 95%;
      right: 12%;
      left: inherit;
      top: inherit;
    }
    &.status-inactive p {
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 700px) {
  .social, .contact {
    width: 100%;
    height: 50vh;
  }
  .social {
    height: 50px;
    display: inline-block;
  }
  .social-block {
    height: 100%;
    position: relative;
    width: 33.3%;
    display: inline-block;
    float: left;
    top: 0px !important;
    margin: 0px 0px;
    img {
      max-height: 25px;
      max-width: 50%;
      margin: 8px 0px;
    }
  }
  .grilla-social {
    margin: 0px;
    max-width: 100%;
    margin: 25px 0px 0px;
  }
  .icons {
    height: auto;
    padding: 36px 0px 0px;
  }
  .nav-icon {
    margin: 10px 0%;
  }
  .landing-slides-container img {
    width: 100%;
    height: auto;
  }
  .hide-in-mobile, .arrow, .icon-list {
    display: none !important;
  }
  .hide-in-desktop {
    display: inline-block !important;
  }
  .icons.icons-footer {
    display: block !important;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 11px;
  }

  .social-block {
    &.ml {
      background: #FFF059;
    }
    &.face {
      background: #4c66a4;
    }
    &.ins {
      background: #3f729b;
    }
  }
  .status-blocks-container {

  }
  .tracking-container {

  }
  .status-block {
    p {
      font-size: 10px;
    }
    label {
      margin-top: -10px;
      font-size: 10px;
    }
  }
  .buyers-data h1 {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {

  header {
    .logo img {
      max-width: 150px;
      margin: 14px auto;
    }

    .social-nav-container {
      height: 40px;

      .social-nav {
        display: none;
      }
    }

    nav {
      .grilla {
        margin: 0px;
        max-width: 100%;
      }
      a {
        width: 100%;
        padding: 15px 0px;
      }
    }

  }

  .social-nav-footer {
    display: block;
  }

  .contact-form h5 {
    font-size: 28px;
  }

  .contact-form {
    padding-bottom: 40px;

    font-size: 32px;
  }

  .contact-form {
    .fa-times {
      font-size: 40px;
      right: 5%;
      top: 2%;
    }

    input[type='submit'] {
      font-size: 30px;
      padding: 12px 6%;
    }
  }

  .products-box-container h1 {
    padding: 25px 0px;
    font-size: 25px;
  }

  .product-box.small-box.big-box h2,
  .product-box.small-box h2 {
    font-size: 10px;
    line-height: 14px;
  }

  .product-box.small-box.big-box .price,
  .product-box.small-box .price {
    width: 100%;
    right: 0px;
    bottom: 10px;
    font-size: 12px;
  }

  .half-container.half-container-left,
  .half-container.half-container-right,
  .product-detail-section .half-container {
    width: 100% !important;
  }

  .products-box-container.products-box-container-detail {
    .text-detail-container {
      width: 95%;
      margin: 0px 2.5%;
    }
    .product-buy-button {
      margin: 40px 0px 0px 25%;
      width: 50%;
      text-align: center;
      padding: 10px 0px;
    }
    .payment-methods {
      background-size: cover;
      margin: 15px 0px 30px 25%;
      width: 50%;
    }
    .product-name {
      font-size: 18px;
    }
    .product-price {
      font-size: 26px;
    }

  }

}
