/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr

/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/
/*---Active admin files in /vendor/assets/stylesheets/ --*/
@import "variables";

html, body{
  text-align: center;
  overflow-x: hidden;
  background: $grey_lazlo_bg;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'futura', arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display: block;
}

a{
  text-decoration: none;
  color: $black_lazlo;

  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

body{
  text-align: center;
  position: relative;
  color: $black_lazlo;
  padding-top: 62px;
}

h1, h2, h3, h4, h5, h6, button{
  font-family: 'futura', arial, sans-serif;
  font-weight: bold;
}

h1{
  font-size: 44px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 28px;
  line-height: 1.3em;
}

h4{
}

h5{
}

h6{
  font-size: 16px;
}

a.button,
button{
  cursor: pointer;

  margin: 0px;
  padding: 10px 5px;
  font-size: 14px;
  font-weight: bolder;
  outline: none;
  position: relative;

  -webkit-transition: $fast_transition;
  -moz-transition: $fast_transition;
  -o-transition: $fast_transition;
  transition: $fast_transition;

  &.transparent-with-hover-yellow{
    background: transparent;
    border: solid 4px $black_lazlo;
    max-width: 392px;

    &:hover{
      background: $yellow_lazlo;
      border-color: $yellow_lazlo;
    }
  }

  &.yellow-with-icon-hover{
    background: $yellow_lazlo;
    color: $black_lazlo;
    height: 20px;
    padding: 16px 0px;
    margin: 10px 0px 0px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    text-align: center;

    i{
      display: none;
      text-align: center;
      font-size: 1.45em;
    }

    &:hover{
      span{
        display: none;
      }

      i{
        display: block;
      }
    }
  }

}

.yellow-button{
  background: $yellow_lazlo;
}

input,
textarea{
  outline: none;
  font-family: 'futura', arial, sans-serif;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.with-hover{
  cursor: pointer;

  span{
    position: relative;
  }

  svg.hovered,
  svg.header-icon{
    background-color: transparent;
    fill: currentColor;
    width: 29px;
    height: 28px;

    position: absolute;
    top: 0px;
    left: 0px;
  }

  svg.hovered{
    opacity: 0;

    -webkit-transition: $slow_transition;
    -moz-transition: $slow_transition;
    -o-transition: $slow_transition;
    transition: $slow_transition;
  }

  &:hover{
    svg.hovered{
      opacity: 1;
    }
  }

}

.grilla{
  max-width: 1300px;
  text-align: center;
  display: inline-block;
  margin: 0px 2.5% 0px;
  width: 95%;
  position: relative;
}

/******* Header *******/

header{
  text-align: center;
  width: 100%;
  height: 62px;
  background-color: #ffffff;

  position: fixed;
  top: 0;
  z-index: 999999;
  transition: top 0.2s ease-in-out;

  &.nav-up{
    top: -62px;
  }

  nav.grilla{
    margin: 0px;
    height: inherit;

    .left-container{
      float: left;

      .menu-button{
        float: left;
        text-align: center;
        padding: 19px 0px;
        margin: 0px 50px 0px 0px;
        cursor: pointer;

        h2{
          display: inline-block;
          color: $black_lazlo;

          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;

          &.expandable{
            position: relative;
          }

          &.expandable svg{
            top: 5px;
            right: -18px;
            position: absolute;
            height: 15px;
            width: 15px;
            transform: rotate(-90deg);
            -webkit-transition: $fast_transition;
            -moz-transition: $fast_transition;
            -o-transition: $fast_transition;
            transition: $fast_transition;

            &.displayed{
              transform: rotate(-270deg);
            }
          }

        }

        span{
          width: 90%;
          height: 2px;
          display: block;
          margin: 0px 5%;
          background-color: $yellow_lazlo;

          -webkit-transform: scaleX(0);
          transform: scaleX(0);
        }

        &:hover span,
        &.current-section span{
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }

      .logo{
        padding: 14px 13px 14px 0px;
        width: 132px;
        height: 30px;

        svg{
          width: 100%;
          height: 100%;
        }
      }
    }

    .right-container{
      float: right;
      text-align: right;

      a{
        padding: 19px 7px 15px;
        display: inline-block;
        cursor: pointer;
        float: left;
        width: 29px;
        height: 28px;

        &:hover{
        }

        &.header-user-name{
          min-width: 94px;
          height: 21px;
          font-size: 16px;
          text-align: left;
          color: rgba(0, 0, 0, 0.6);
          padding: 20px 9px;
          width: auto;

          &:hover{
            color: #fed604;

            .notification-number{
              color: rgba(0, 0, 0, 0.6);
            }
          }
        }

        &.header-user-icon{
          display: none;
        }

        &.cart-button{
          display: inline-block;
          width: 30px;
          height: 30px;
          margin: -2px 0px 0px 0px;
          font-size: 1.3em;
          text-align: center;
          position: relative;

          i{
            color: $grey_hover;
          }

          &:hover i{
            color: black;
          }
        }

        &.responsive-menu{
          display: none;
        }

        .notification-number{
          background: $yellow_lazlo;
          position: absolute;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          height: 20px;
          width: 20px;
          text-align: center;
          top: 12px;
          right: 0px;
          font-size: 12px;
          line-height: 21px;
          font-weight: bold;

        }

      }

    }

  }

  .header-sub-menu{
    display: none;
    margin: -5px 0px 0px 0px;
    box-shadow: 0px 2px 1px #e2e2e29e;

    .block{

      &:first-child{
        border-left: none;
      }

      &:last-child{
        width: 25%;
        width: calc(25% - 1px);
        width: -webkit-calc(25% - 1px);
      }

      h3{
        a{
          font-size: 0.95em;
          margin: 0px 0px 5px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      a{
        font-size: 0.9em;
        width: 100%;
        display: inline-block;
        margin: 0px 0px 4px 0px;
        text-transform: lowercase;

        &:hover{
          color: $blue_link;
        }

        &.see-more{
          color: $blue_link;
          text-decoration: underline;
          font-style: italic;
          font-size: 1em;

        }
      }

    }

  }
}

.notification-bar{
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 62px;
  background: $yellow_lazlo;
  line-height: 51px;
  color: white;
  font-weight: bolder;
  border-bottom: 1px solid white;
  top: -64px;
  overflow: hidden;
  display: none;

  &.alert{
    background: $red_lazlo;
  }

  p{
    width: 92%;
    margin: 0px 4%;
    padding: 20px 0px;
    display: inline-block;
    text-align: center;
  }

  .close-notification-bar{
    float: right;
    position: absolute;
    cursor: pointer;
    line-height: 52px;
    height: 25px;
    width: 25px;
    right: 2%;
    top: 0px;
    padding: 18px;

    &:hover{
      color: #ffffff

    }
  }
}

.error_notification{
  color: #ff2121;
  margin: 10px 0px;
  font-size: 14px;
}

span.error{
  color: #ff2121;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-size: 14px;

  &.notice,
  &.alert{
    text-align: center;
  }
}

/******* Containers *******/
.half-container{
  width: 50%;

  &.half-container-left{
    float: left;
  }

  &.half-container-right{
    float: right;
  }
}

/******* 404 Page *******/
.not-found-container{
  width: 100%;
  display: inline-block;
  text-align: center;

  .not-found-image{
    margin: 40px auto;
    max-width: 100%;
  }

  h1{
    font-size: 36px;
    margin: 0px auto 50px;
    max-width: 800px;
    text-align: center;
  }

  h2{
    font-size: 24px;
    margin: 0px auto 50px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 800px;
    text-align: center;
  }

  .green-button{
    padding: 14px 24px;
    color: white;
  }
}

.shadow-layer{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  z-index: 999999;
  opacity: 0;
  display: none;
}

/******* Buttons *******/

/******* Breadcrumbs *******/

.breadcrumbs{
  display: block;
  text-align: left;
  color: $black_lazlo;
  margin-top: 16px;

  a{
    display: inline-block;
    color: $black_lazlo;
    font-size: 15px;
    padding: 20px 0px 0px;

    &.active{
      font-style: italic;
    }
    &:hover{
      text-decoration: underline;
    }
  }

  i{
    font-size: 10px;
    margin: 0px 5px 0px;
  }
}

/******** Chat *********/

#drift-widget{
  //display: none !important;
}

.chat-widget{
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  width: auto;
  height: auto;

  .chat-button{
    background: $yellow_lazlo;
    width: 50px;
    height: 50px;
    box-shadow: -1px -1px 4px #0000002e;
    cursor: pointer;
    float: right;
    position: absolute;
    z-index: 999;
    right: 0px;
    bottom: 0px;
    overflow: hidden;

    svg{
      width: 25px;
      position: absolute;
      top: 0px;
      left: 13px;

      &.chat-balloon-icon{
        top: -50px;
      }

      &.chat-cross-icon{
        display: none;
        width: 95px;
        height: 95px;
        left: 5px;
        top: 2px;
      }
    }

    &:hover svg.chat-balloon-icon{
      width: 28px;
      left: 12px;
    }
    &:hover svg.chat-cross-icon{
      width: 100px;
      height: 100px;
      top: 1px;
    }
  }

  &.displayed{
    width: 330px;
    height: 395px;

    .chat-button{
      transform: rotate(90deg);

      svg.chat-cross-icon{
        display: block;
      }

      svg.chat-balloon-icon{
        display: none;
      }
    }

    .display-on-chat{
      display: block;
    }

  }

  iframe.chat-iframe{
    width: 100%;
    height: 100%;
    bottom: 65px;
    position: absolute;
    box-shadow: -1px -1px 4px #0000002e;
  }

  .iframe-header{
    background: $yellow_lazlo;
    width: 90%;
    height: 90px;
    position: absolute;
    z-index: 999;
    top: -65px;
    padding: 10px 5%;

    .top-header{
      .logo-container{
        background: white;
        height: 34px;
        width: 34px;
        padding: 10px;
        float: left;

        svg{
          width: 80%;
          height: 80%;
          margin: 10%;
        }

      }
      h3{
        line-height: 3.8em;
        font-size: 1em;
        margin: 0px 0px 0px 5%;
        display: inline-block;
        width: 80%;
        width: calc(95% - 60px);
      }
    }

    .bottom-header{
      line-height: 2em;
      width: 100%;
      display: inline-block;
      font-size: 1em;
    }
  }

  .display-on-chat{
    opacity: 0;
    display: none;
  }
}

/******* Footer *******/

.footer{

  padding: 40px 0px 60px;
  font-size: 13px;
  margin-top: 60px;

  .footer-block{
    width: 30%;
    margin: 0px 4% 0px 0px;
    float: left;
    text-align: left;

    &:last-child{
      margin-right: 0px;
    }

    h6{
      margin: 0px 0px 24px 0px;
      font-size: 14px;

      a{
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
      }
    }

    .contact{
      a,
      address{
        font-size: 14px;
        margin-bottom: 8px;
        display: inline-block;
      }

      address{
        display: block;
      }
    }

    form{
      width: 100%;
      position: relative;
      z-index: 9;

      input,
      button{
        float: left;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }

      input{
        width: 66%;
        background: $grey_softer;
        border: none;
        padding: 15px 4%;
        margin: 0px 1% 0px 0px;
        font-size: 13px;
        font-style: italic;
      }

      button{
        width: 25%;
      }
    }
    .social-icons{
      width: 100%;
      display: inline-block;

      a{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 20px 15px 0px 0px;

        &:hover{
          opacity: 0.6;
        }

        svg{
          width: 100%;
          height: 100%;
        }
      }
    }

  }

  a.social-icons{
    display: inline-block;
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
    height: 35px;
    text-align: center;
    border-radius: 50px;
    background: #666;
    color: #222;

    i{
      font-size: 20px;
      margin: 7px;

    }

    &:hover{
      background: #999;
      color: #222;
      text-decoration: none;
    }
  }

  .instagram-fotos{
    a{
      float: left;
      width: 24%;
      width: calc(25% - 14px);
      max-width: 77px;
      margin: 0px 0px 0px 14px;
      max-height: 73px;

      &:hover{
        opacity: 0.85;
      }

      &:first-child{
        margin: 0;
      }
      img{
        width: 100%;
      }
    }
  }

}

/******* Footer Nav *******/

.social-nav-footer{
  background: #69CACA;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  display: none;
  position: fixed;
  bottom: 0px;

  a.social-icons{
    text-decoration: none;
    color: white;
    padding: 10px 0px;
    display: inline-block;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    width: 20%;
    float: left;

    &:hover{
      color: #f38385;
    }
  }

}

/******* Contact *******/

.contact-form{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  overflow: auto;
  z-index: 9999999;

  display: none;
  opacity: 0;

  .contact-form-inner{
    width: 70%;
    height: 70%;
    margin: auto;
    top: 7%;
    position: absolute;
    left: 10%;

    background: #f9f9f9;
    color: $black_lazlo;
    padding: 5%;

    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  }

  input,
  textarea{
    color: $black_lazlo;
    border: none;
    border-bottom: 2px solid black;
    font-size: 18px;
    margin-top: 40px;
    width: 100%;
    background: transparent;
    padding: 0px 0px 5px 0px;
  }

  textarea{
    resize: vertical;
    height: 30px;
  }

  input[type='submit']{
    background: $yellow_lazlo;
    color: $black_lazlo;

    max-width: 230px;
    width: 36%;
    margin-top: 60px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 55px;
    border: none;
    cursor: pointer;

    &:hover{
      opacity: 0.8;
    }

  }

  i{
    width: 23px;
    height: 23px;
    position: absolute;
    right: 30px;
    top: 16px;
    cursor: pointer;
  }

  ::-webkit-input-placeholder{
    color: $black_lazlo;
  }

  :-moz-placeholder{
    /* Firefox 18- */
    color: $black_lazlo;
  }

  ::-moz-placeholder{
    /* Firefox 19+ */
    color: $black_lazlo;
  }

  :-ms-input-placeholder{
    color: $black_lazlo;
  }

  h5{
    font-size: 50px;
  }
}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 950px){

  .bx-wrapper{
    margin: 0 auto 30px;
  }

  h2{
    font-size: 34px;
  }

  header nav.grilla{
    .right-container a.social-icons{
      display: none;
    }
  }

  .home section{
    &.promotions .left-promotion{
      .product-description h3{
        font-size: 70px;
      }

    }

    &.categories .left-column,
    &.categories .right-column{
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
    }

    &.categories .home-category-block{
      padding: 0px 0px 5px 0px;

      h2{
        bottom: 55px;
      }
    }

  }

  .footer .footer-block form button{
    font-size: 10px;
    padding: 14px 5px;
    border-width: 3px;
  }

}

@media screen and (max-width: 750px){

  header nav.grilla{
    .left-container a.menu-button{
      display: none;
      &.logo{
        display: block;
        margin: 0px;
      }
    }

    .right-container a.responsive-menu{
      display: block;
    }
  }

  .home section.promotions .left-promotion{
    .product-description h3{
      font-size: 50px;
    }
  }

  .footer .footer-block{
    width: 100%;
    margin: 0px auto 40px;

    form button{
      font-size: 14px;
      padding: 10px 5px;
      border-width: 4px;
    }
  }

}

@media screen and (max-width: 550px){

  header{
    top: -1px !important;

    nav.grilla .right-container{
      a.header-user-name{
        display: none;
      }

      a.header-user-icon{
        display: block;
        color: $grey_hover;
        text-align: center;
        font-size: 19px;
      }
    }
  }

  aside.sidebar{
    width: 80%;
    right: -82%;
    right: calc(-80% - 54px);
  }

  .header-sub-menu .grilla .block,
  .header-sub-menu .grilla .block:last-child{
    width: 100%;
    display: inline-block;
    height: auto;
    border-top: 1px solid gray;
    min-height: inherit;

    .inner-block{
      width: 100%;
      margin: 0px;
      font-size: 1em;

      h3{
        margin: 0px;

        a{
          text-align: center;
          margin: 0px;
          padding: 30px 0px;
        }
      }

    }

    a.sub-category,
    a.see-more{
      display: none;
    }
  }

  .home section{

    &.products,
    &.products .left-product,
    &.products .right-product,
    &.promotions .left-promotion,
    &.promotions .right-promotion,
    &.categories .left-column,
    &.categories .right-column{
      width: 100%;
      margin: 0px 0px 0px 0px;
      display: inline-block;
    }

    &.promotions .left-promotion,
    &.promotions .right-promotion{
      height: auto;
      margin: 10px 0px;

      .product-description{
        height: 200px;
      }

      svg{
        height: 90px;
      }
    }

    &.categories .home-category-block{
      height: auto;

      h2{
        bottom: 10px;
        right: initial;
        font-size: 24px;
        left: 5px;
      }

      .image-block-with-hover{
        float: right;
        position: relative;
      }

    }

    &.contact{
      margin: 60px 0px;

      img{
        width: 75%;
      }

      .floating-text{
        font-size: 14px;
        top: 10px;
        line-height: 15px;

        button.transparent-with-hover-yellow{
          display: block;
          padding: 3px 8px;
          margin: 14px 0px;
          border-width: 3px;
          font-size: 13px;
        }
      }
    }
  }

  .chat-widget{
    right: 16px;
    bottom: 16px;

    .chat-button{
      width: 34px;
      height: 34px;

      svg.chat-balloon-icon{
        top: -55px;
        left: 5px;
      }

      &:hover svg.chat-balloon-icon{
        width: 20px;
        left: 7px;
        top: -58px;
      }

      &:hover svg.chat-cross-icon{
        width: 90px;
        height: 90px;
        top: -5px;
        left: 0px;
      }

    }
  }

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 1000px){
  header nav.grilla .right-container a{
    padding: 19px 2px 15px;

    &.header-user-name{
      max-width: 160px;
      overflow: hidden;
    }
  }

  .breadcrumbs{
    margin-top: 0px;
  }

}

@media screen and (max-width: 550px){

  div.margin-top-medium{
    margin-top: 15px;
  }

}
