/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr
/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/
@import "variables";

/************************************************************************************/
/************************************************************************************/
/********************************* Generics *****************************************/
/************************************************************************************/
/************************************************************************************/

.image-block-with-transition {
  position: relative;
  max-width: 100%;
  overflow: hidden;

  .product-description {
    position: absolute;
    bottom: 8%;
    left: 4%;
    z-index: 999;
  }

  .hover-block {
    height: 98%;
    height: -webkit-calc(98% + 2px);
    height: calc(98% + 2px);
  }

  img {
    max-width: none;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);

    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }

  h5, h6 {
    font-weight: normal;
    font-size: 16px;

    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;

    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    strong {
      font-weight: bold;
    }
  }

  h6 {
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
  }

  &:hover {
    img,
    h5,
    h6 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    h6 {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0.35s;
      transition-duration: 0.35s;

      opacity: 1;
    }
  }

}

.hover-block-trigger {

  .hover-block {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0px;
    top: 0px;
    z-index: 99;

    background: $yellow_lazlo_transparent;

    svg {
      width: 44px;
      height: 44px;
      position: absolute;
      top: 42%;
      left: 47%;
    }
  }
  &:hover {
    .hover-block {
      opacity: 1;
    }
  }
}

/************************************************************************************/
/************************************************************************************/
/***************************** Products Category *************************************/
/************************************************************************************/
/************************************************************************************/

.category-products {

  h1 {
    padding: 20px 0px 40px;
  }

  .category-products-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 70px 0px;

    .column {
      width: 33%;
      float: left;
    }
  }
}

/*********** Product Detail *************/

.product-detail-section {

  .product-images-gallery {
    width: 100%;

    a {
      width: 267px;
      height: 163px;
      position: relative;
      display: inline-block;
      margin: 0px 0px 0px 0px;

      img {
        overflow: hidden;
        width: 100%;
        min-height: 100%;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .image-detail-container {
    display: inline-block;
    width: 100%;
    position: relative;

    img {
      width: 100%;
    }

    .active img {
      border: 2px solid #333 !important;
    }

    &:after {
      content: '';
      display: block;
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      right: 0;
      background: url(zoom-corner-icon.png);
    }
  }

  .half-container {
    width: 49%;
    margin-top: 16px;
  }

  .half-container-left {
    text-align: left;
    margin-right: 1%;
    width: 72%;
    max-width: 940px;
  }

  .half-container-right {
    text-align: left;
    width: 26.5%;
    margin: 10px 0px 0px 0.5%;

    .product-description {
      width: 100%;
      display: inline-block;
      margin: 0px auto 20px;
      line-height: 22px;
      font-size: 15px;
    }

    a {
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 16px 0px;
      margin: 10px 0px 0px;

      &.transparent-with-hover-yellow{
        padding: 12px 0px;
        width: 98%;
        width: calc(100% - 8px);
      }
    }

  }

}

/*********** Product Tracking *************/
.tracking-container {

  .status-blocks-container {
    width: 100%;
    margin: 25px 3% 0px -3%;
    display: inline-block;
    margin-bottom: 60px;
  }

  .status-block {
    width: 19%;
    float: left;
    position: relative;
    &.status-inactive {
      opacity: 0.5;
    }
    .logo-container, p, label {
      width: 40%;
      text-align: center;
      float: right;
      margin: 0px 0px 0px 60%;
    }
    .logo-container img {
      max-width: 80px;
      position: relative;
      z-index: 10;
      width: 100%;
    }
    p {
      margin-top: 10px;
    }
    label {
      margin-bottom: 10px;
      font-size: 14px;
      height: 20px;
    }
    &.status-inactive p {
      margin-top: 10px;
      color: grey;
    }
    .status-line {
      background: #70CACE;
      height: 16px;
      position: absolute;
      width: 100%;
      top: 62px;
      left: -10%;
    }
    &:first-child .status-line {
      display: none;
    }
    &.status-inactive .status-line {
    }
  }

  .images-container {
    width: auto;
    display: inline-block;
    text-align: center;

    .product-image {
      overflow: hidden;
      border-radius: 50%;
      float: left;
      border: 2px solid #666666;
      position: relative;
      height: 150px;
      width: 150px;
      margin-left: -25px;

      &.single-product-image {
        margin-left: 0px;
      }
      img {
        width: 100%;
        margin: auto;
        position: absolute;
        height: 100%;
        left: 0px;
        top: 0px;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  .product-detail-section {

    .product-images-gallery {
      width: 100%;

      a {
        display: inline-block;
      }
    }
    .image-detail-container {
      width: 98%;
    }
  }
}

@media screen and (max-width: 500px) {

  .product-detail-section {

    .half-container {
      text-align: center;
    }

    .text-detail-container {
      text-align: center;
    }

    .product-price-box {
      min-width: initial;
      margin: 24px 25% 20px;

    }

  }

  .tracking-container {

    .images-container {

      .product-image {

        height: 100px;
        width: 100px;
        margin-left: -25px;

        img {
          width: 100%;
        }
      }
    }
  }

}