/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

/*
 *  Author     : Borba Jr
/*--------------------------------------------------------
 *Resets
 *--------------------------------------------------------
*/

$margin_medium: 30px;
$red_macain: #f38385;
$purple_macain: #c9afd4;
$green_macain: #69caca;
$black_footer: #222222;
$thumb_size: 60px;
/************************************************************************************/
/************************************************************************************/
/***************************** Boxes Javascript *************************************/
/************************************************************************************/
/************************************************************************************/

.products-box-container {
  position: relative;
  width: 100%;
  text-align: center;

  h1 {
    padding: 20px 0px 40px;
  }

  .inner-container {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: -70px auto 10px;
    max-width: 1100px;
    position: relative;
  }

  .products-white-container {
    background: white;
    margin: 70px 0px;
  }

  &.products-box-container-detail {

    .text-detail-container {
      display: inline-block;
      width: 100%;
      text-align: lext;
      margin: 60px auto;
      line-height: 24px;
    }

    .products-white-container {
      margin: 10px 0px;
    }

    .inner-container {
      max-width: 1000px;
    }

    .product-name {
      text-transform: uppercase;
      font-size: 22px;
    }
    .product-description {
      font-size: 14px;
    }

    .product-price {
      font-size: 36px;
      line-height: 50px;
      font-style: italic;
      margin: 10px auto;
      color: #3E3E3E;
    }
    .product-buy-button {
      font-size: 15px;
      background: #3E3E3E;
      padding: 10px 20px;
      margin: 20px auto;
      color: #DEDEDE;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: #807D7D;
      }

    }
    .payment-methods {
      background: url('/assets/MP-payButton-logos.png');
      height: 28px;
      width: 164px;
      display: block;
      background-repeat: no-repeat;
      background-position: 0px -26px;
    }
  }
}

.product-box {
  background-color: white;
  border: 1px solid #222222;
  overflow: hidden;
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  background-size: center center;

  color: #5E6469;
  position: absolute;

  -webkit-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  -o-transition: all 300ms cubic-bezier(1, 0, 0, 1);
  transition: all 300ms cubic-bezier(1, 0, 0, 1);
  /* easeInOutExpo */
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;

  .hidden-info {
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 90%;
    padding: 5%;
    width: 90%;
    background: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }

  &.small-box {
    h2 {
      font-size: 14px;
      color: #99abff;
      line-height: 22px;
    }

    .price {
      float: right;
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 16px;
      color: white;
    }

    &.big-box {
      h2 {
        font-size: 20px;
        line-height: 34px;
      }

      .price {
        font-size: 22px;
      }
    }
  }

  img {
    width: 100%;
  }

  &.small-box {
    width: 20%;
    height: 20%;
  }

  &.big-box {
    width: 40%;
    height: 40%;
  }

  &:hover .hidden-info {
    opacity: 1;
  }
}

/*********** Product Detail *************/

.product-detail-section {

  .product-images-gallery {
    float: left;
    width: 13%;

    a {
      display: block;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: $thumb_size;
      height: $thumb_size;
      border: 1px solid $green_macain;
      margin-bottom: 10px;
      position: relative;

      img {
        overflow: hidden;
        width: 100%;
        min-height: 100%;
      }

      .thumb-filter {
        position: absolute;
        background: rgba(105, 202, 202, 0.8);
        z-index: 9;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        opacity: 0;
      }

      &.active .thumb-filter {
        opacity: 1;
      }
    }
  }

  .image-detail-container {
    display: inline-block;
    width: 86%;
    border: 1px solid $green_macain;
    position: relative;

    img {
      width: 100%;
    }

    .active img {
      border: 2px solid #333 !important;
    }

    &:after {
      content: '';
      display: block;
      width: 33px;
      height: 33px;
      position: absolute;
      top: 0;
      right: 0;
      background: url(zoom-corner-icon.png);
    }
  }

  h1 {

  }

  .half-container {
    width: 49%;
    margin-top: 16px;
  }

  .half-container-left {
    text-align: left;
    margin-right: 1%;
    width: 59%;
  }

  .half-container-right {
    text-align: left;
    margin-left: 1%;
    width: 39%;
  }

  .product-price-box {

    border: 1px solid $green_macain;
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: 12px 0px 20px;

    .product-price {
      font-size: 36px;
      line-height: 50px;
      margin: 6px auto;
      width: 100%;
      display: block;
      color: $green_macain;
      font-weight: bold;
    }

    label {
      color: #ffffff;
      background: $green_macain;
      width: 100%;
      display: inline-block;
      font-size: 15px;
      padding: 8px 0px;
      font-weight: bold;
    }
  }

  .product-description {
    width: 100%;
    display: inline-block;
    margin: 0px auto 20px;
    line-height: 22px;
  }
  .green-button {
    display: inline-block;
  }

}

/*********** Product Tracking *************/

.status-blocks-container {
  width: 100%;
  margin: 25px 3% 0px -3%;
  display: inline-block;
  margin-bottom: 60px;
}

.status-block {
  width: 19%;
  float: left;
  position: relative;
  &.status-inactive {
    opacity: 0.5;
  }
  .logo-container, p, label {
    width: 40%;
    text-align: center;
    float: right;
    margin: 0px 0px 0px 60%;
  }
  .logo-container img {
    max-width: 80px;
    position: relative;
    z-index: 10;
    width: 100%;
  }
  p {
    margin-top: 10px;
  }
  label {
    margin-bottom: 10px;
    font-size: 14px;
    height: 20px;
  }
  &.status-inactive p {
    margin-top: 10px;
    color: grey;
  }
  .status-line {
    background: #70CACE;
    height: 16px;
    position: absolute;
    width: 100%;
    top: 62px;
    left: -10%;
  }
  &:first-child .status-line {
    display: none;
  }
  &.status-inactive .status-line {
  }
}

.product-image img {
  max-width: 100%;
}

@media screen and (max-width: 900px) {

  .product-detail-section {

    .product-images-gallery {
      width: 100%;

      a {
        display: inline-block;
      }
    }
    .image-detail-container{
      width: 98%;
    }
  }
}

@media screen and (max-width: 500px) {

  .product-detail-section {

    .half-container{
      text-align: center;
    }

    .text-detail-container {
      text-align: center;
    }

    .product-price-box {
      min-width: initial;
      margin: 24px 25% 20px;

    }

  }

}