@import "variables";

.profile-purchase-header {
  width: 100%;
  display: inline-block;
  background: white;
  box-shadow: 0px 1px 3px #e2e2e2;
  text-align: center;
  padding: 20px 0px 0px;

  .order-row {
    display: inline-block;
    float: right;
    width: 80%;

    margin: 0px 0px 25px;
  }

  .purchase-block {
    float: left;
    width: 20%;
    text-align: left;
    display: inline-block;
    height: 140px;
    border: none;

    h2 {
      color: $black_lazlo;
      font-size: 2.4em;
      display: inline-block;
      line-height: 0.8em;
    }
  }

  .block {
    float: left;
    width: 25%;
    width: calc(25% - 1px);
    width: -webkit-calc(25% - 1px);
    border-left: #d8d8d8 1px solid;
    text-align: left;
    display: inline-block;
    height: 140px;

    &:last-child {
      width: 50%;
      width: calc(50% - 1px);
      width: -webkit-calc(50% - 1px);
    }

    .inner-block {
      width: 86%;
      margin: 0px 7%;
      font-size: 0.8em;

      h3 {
        font-size: 0.95em;
        margin: 0px 0px 10px;
      }
    }
  }

  .status-blocks-container {
    width: 100%;
    display: inline-block;
    margin: 20px 0px;

    .status-block {
      width: 20%;
      float: left;

      .track {
        width: 100%;
        display: inline-block;
        text-align: center;
        height: 22px;
        position: relative;
        margin-left: -50px;

        .line, .dot {
          background: $yellow_lazlo;
          color: $yellow_lazlo;
          float: left;
          position: absolute;
        }

        .line {
          width: 100%;
          height: 4px;
          top: 8px;
          left: 0px;
        }

        .dot {
          width: 20px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          height: 20px;
          right: 0px;
        }

      }

      &:first-child .track .line {
        display: none;
      }

      label {
        width: 100%;
        display: inline-block;
        font-weight: bold;
        font-size: 0.8em;

        &.date {
          color: #828282;
          font-weight: lighter;
          font-style: italic;
        }
      }

      &.status-inactive {

        .track .line,
        .track .dot {
          background: $grey_hover;
          color: $grey_hover;
        }

        .date {
          display: none;
        }

        &:last-child {
          .date {
            display: inline-block;
          }
        }

      }

    }
  }

  .product-row {
    width: 100%;
    display: inline-block;
    padding: 6px 0px;

    a {
      width: 80%;
      text-align: left;
      font-size: 18px;
      text-decoration: underline;

      &:hover {
        color: $yellow_lazlo;
      }

    }

    .cart-product-price {
      width: 20%;
      text-align: right;

    }

    a,
    .cart-product-price {
      display: inline-block;
      float: left;
      font-size: 12px;
    }
  }

  .no-orders-message {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    width: 90%;
    margin: 150px 5% 200px;
  }

}

section.profile-detail {
  margin: 30px auto;

  h6 {
    width: 100%;
    margin: 0px 0px 20px;
  }

  .block {
    display: inline-block;
    width: 77%;
    width: calc(77% - 1px);
    border-left: #d8d8d8 1px solid;
    float: right;
    padding: 0px 1.5%;

    &.block-left {
      width: 19%;
      float: left;
      border: none;
      padding: 0px 1% 0px 0px;

      span,
      p {
        font-size: 14px;
        display: inline-block;
      }

      span {
        font-weight: bold;
      }

      a {
        font-style: italic;
        color: $blue_link;
        width: 100%;
        display: inline-block;
        font-size: 13px;
        text-decoration: underline;
        margin: 0px auto 18px;
      }
    }

    .profile-promotion {
      background: $yellow_lazlo;
      width: 100%;
      cursor: pointer;
      padding: 16px 0px;
      margin: 20px 0px;

      h4,
      h3 {
        width: 100%;
        display: inline-block;
        color: black;
        text-align: center;
        font-size: 0.88em;
      }

      h3 {
        font-size: 2.2em;
      }
    }

  }

  .profile-products-block {
    .profile-products-inner-block {
      margin: 20px 1% 10px;
      display: inline-block;
      width: 98%;
      position: relative;

      .favourite-product-block {
        float: left;
        width: 32%;
        width: calc(33% - 30px);
        margin: 0px 0px 30px 30px;
        height: 200px;
        background-size: cover;
        background-position: center;

        &.last {
          margin-left: 0px;
        }

        .image-block-with-transition {
          height: 100%;
          font-size: 0.7em;
        }

        section.profile-detail h6 {
          margin: 0px 0px 13px;
        }
      }

    }

  }

  .user-cart-left-block,
  .user-cart-right-block {
    width: 50%;
    float: left;
  }

  .user-cart-right-block {
    text-align: center;

    h2 {
      text-align: center;
      text-decoration: underline;
      text-transform: lowercase;
      font-size: 2em;
    }

    h3 {
      text-align: center;
      color: $grey_hover;
      font-size: 1.5em;
      margin: 20px auto 0px;
    }

    .checkout-button {
      max-width: 250px;
      margin: 80px auto 0px;
      display: inline-block;
    }
  }

  .cart-product-row {
    width: 100%;
    display: inline-block;
    margin: 0px 0px 30px 0px;

    .cart-product-row-header {
      width: 100%;
      display: inline-block;

      a {
        width: auto;
        float: left;
        font-weight: bold;
        text-decoration: underline;
        margin: 0px 0px 6px 0px;

        &:hover {
          opacity: 0.7;
        }

      }

      .remove-row {
        float: right;
        color: $grey_hover;
        cursor: pointer;
        &:hover {
          color: $yellow_lazlo;
        }
        &:active {
          color: $grey_hover;
        }
      }
    }

    .left-block,
    .right-block {
      width: 100%;
      max-width: calc(100% - 110px);
      float: left;
      text-align: left;
    }

    .left-block {
      width: 17%;
      min-width: 110px;
    }

    .product-detail-row {
      border-top: 1px solid $grey_lazlo_soft;
      width: 100%;
      width: calc(100% - 20px);
      font-size: 0.8em;
      margin: 0px 0px 10px 20px;
      padding: 8px 0px 0px 0px;

      strong {
        font-weight: bold;
      }

      span {
        color: $grey_hover;
        margin: 0px 0px 0px 2px;
        font-size: 1.02em;
      }

      i {
        font-size: 1.2em;
        cursor: pointer;
        &:hover {
          color: $yellow_lazlo;
        }
        &:active {
          color: $grey_hover;
        }
      }

      &:first-child {
        border: none;
      }

    }

  }

  .history-order-row{
    display: inline-block;
    width: 100%;
    margin: 0px auto 34px;

    .order-column{
      width: 25%;
      float: left;

      h6{
        margin: 0px auto 0px;
        font-size: 0.9em;
      }

      span{
        width: 100%;
        font-size: 0.8em;
      }
    }
  }


  .no-products-message {
    width: 100%;
    margin-top: 4em;
    text-align: center;

    &.cart-no-products-message {
      display: none;
    }

    h5 {
      font-size: 1.5em;
      text-align: center;
      width: 90%;
      line-height: 2em;
      display: inline-block;
      position: relative;
      font-weight: normal;

      a.with-hover {
        margin: 0px 0px 24px 0px;
        display: inline-block;
      }
    }
  }

  .profile-products-slider-buttons {

    .bx-pager-item {
      margin: 0px 10% 0px 0px;
      position: relative;
      display: inline-block;

      a {
        font-weight: bold;
        font-size: 1em;

        &:hover,
        &.active {
          border-bottom: 2px solid $yellow_lazlo;
        }
        span {
          position: absolute;
        }
      }

    }

  }

  .bx-wrapper .bx-viewport {
    background: none;
    min-height: 250px;
  }

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE *********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 750px) {

}

/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/
/*************************** RESPONSIVE 2*********************************************/
/************************************************************************************/
/************************************************************************************/
/************************************************************************************/

@media screen and (max-width: 450px) {

}