<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<h2 style="color: #FD6E6E; width: 100%; text-align: center;">|| Pophensen Email ||</h2>

<h3 style="">Jola Jola Papensen, nos acaban de contactar desde <%= @url %>,</h3>

<p>Te paso los datos para que contactes al chavo/a:</p>

<div style="border: 1px solid #D0D0D0;
        border-radius: 4px;
        padding: 10px 35px;
        background: #EAEAEA;
        width: auto;
        display: inline-block;">

  <p style="font-style: italic;"><strong>Nombre:</strong> <%= @name %></p>

  <p style="font-style: italic;"><strong>Email:</strong> <%= @email %></p>

  <p style="font-style: italic;"><strong>Mensaje:</strong> <%= @message %></p>

</div>

<p>Hasta la el proximo Siranushen Alert,</p>


<h5 style="font-family: 'Roboto Condensed', Arial; color: gray; margin: 40px 0px 20px 20px;">- The Gordinflon Server
  -</h5>
</body>
</html>




