<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<h2 style="color: #FD6E6E; width: 100%; text-align: center;">|| Pophensen Email ||</h2>

<h3 style="">Papinissss! <%=  @user[:email]  %> <%=  @message   %> la compra de una <%=  @product_name %>,</h3>

<p>El usuario que compró es <strong><%= @user[:email] %></strong></p>



<p>Bueno Flaaaan, hasta la prox!</p>


<h5 style="font-family: 'Roboto Condensed', Arial; color: gray; margin: 40px 0px 20px 20px;">- The Gordinflon Server
  -</h5>
</body>
</html>




