<td valign="top"  style="padding-top: 20px;  padding-right: 20px;  padding-bottom: 20px;  padding-left: 20px; background-color:#FFF">
  <h1 style="color: #ed2c75 ;display: block; font-family: Helvetica, Verdana, Arial, sans-serif;font-size: 26px;font-style: normal;font-weight: bold;line-height: 100%;letter-spacing: normal;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">
    ¡Felicitaciones <%= @resource.name %>!
  </h1>

  <!--  <h4 style="color:#808080 !important; display:block;	font-family:Helvetica, Verdana, Arial, sans-serif; font-size:14px;	font-style:italic;	font-weight:normal;		 line-height:100%;	letter-spacing:normal;	margin-top:0;	margin-right:0;	margin-bottom:10px;	margin-left:0;	text-align:left;">H4</h4> -->
  <p style="color: #505050; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left;">
    Ya tienes tu cuenta en Lazlo. <br>
    Te recordamos aquí los datos de ingreso al sitio:
  </p>

  <p style="color: #505050; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left;">
    Usuario: <%= @resource.email %> <br>
    Contraseña: <%= @resource.password %>
  </p>
</td>
