<!-- Like button -->
<span>
  <img src="<%= image_url('icons/favourites-icon.svg') %>">

  <img class="hovered" src="<%= image_url('icons/favourites-icon-hover.svg') %>">
</span>
<!-- End Like button -->