<!-- Like button -->
<a class="product-action-button with-hover">
    <span>
      <svg class="header-icon">
        <use xlink:href="<%= image_url('sprite.svg') %>#favourites-icon-inactive"/>
      </svg>
      <svg class="hovered">
        <use xlink:href="<%= image_url('sprite.svg') %>#favourites-icon-active"/>
      </svg>
    </span>
</a>
<!-- End Like button -->