<!-- Share button -->
<a class="product-action-button with-hover">
  <span>
    <img src="<%= image_url('icons/share-icon.svg') %>">

    <img class="hovered" src="<%= image_url('icons/share-icon-hover.svg') %>">
  </span>
</a>
<!-- End Share button -->