<!-- Share button -->
<a class="product-action-button with-hover">
  <span>
    <svg class="header-icon">
      <use xlink:href="<%= image_url('sprite.svg') %>#share-icon"/>
    </svg>
    <svg class="hovered">
      <use xlink:href="<%= image_url('sprite.svg') %>#share-icon-hover"/>
    </svg>
  </span>
</a>
<!-- End Share button -->