<% if @featured_products.present? %>
    <div class="featured-block">
      <h3 class="section-title">PRODUCTOS DESTACADOS</h3>

      <% @featured_products.each do |featured_product| %>
          <a class="featured-product "
             href="<%= product_path featured_product %>"
             style="background-image: url(<%= featured_product.image.url(:medium) %>);">
            <div class="description smooth-transition">
              <h1><%= featured_product.name %></h1>
              <h4><%= '$' + featured_product.price.to_i.to_s unless featured_product.price.nil? %></h4>
              <span class="see-more">VER MÁS</span>
            </div>
          </a>
      <% end %>

    </div>
<% end %>