<% if @suggestions.any? %>
    <div class="suggestions">
      <h3 class="section-title">MIRÁ ESTAS SUGERENCIAS PARA COMBINAR ESTE PRODUCTO</h3>

      <div class="suggestions-container">
        <% @suggestions.each do |suggested_product| %>
            <a class="suggestion-block" href="<%= product_path suggested_product %>">
              <%= image_tag suggested_product.image.url(:thumb) %>
              <h4><%= suggested_product.name %></h4>
              <h4><%= format_price suggested_product.price %></h4>
            </a>
        <% end %>
      </div>
    </div>
<% end %>