<div class="contact-form">
  <div class="contact-form-inner">

    <i class="fa fa-times close-contact-form" aria-hidden="true"></i>

    <%= form_tag('/contact_email', :method => 'POST', :class => 'contact') do |f| %>
      <%= invisible_captcha %>
      <h5>hola@lazlo.la</h5>

      <input type="text" name="lazlo_name" placeholder="Nombre" required/>

      <input type="email" name="lazlo_email" placeholder="E-mail" required/>

      <textarea name="lazlo_message" placeholder="Consulta"></textarea>

      <%= submit_tag('ENVIAR', :class => 'smooth-transition yellow-button') %>
      </div>
    <% end %>
    </div>
</div>
