<!-- Start Footer -->
<footer class="footer">
  <div class="grilla">

    <div class="footer-block ">
      <h6>INSCRIBITE A NUESTRO NEWSLETTER</h6>

      <form>
        <input type="email" name="email" placeholder="Ingresa tú email">
        <button class="black-transparent">ENVIAR</button>
      </form>

      <div class="social-icons">
        <a target="_blank" href="https://www.facebook.com/lazlo">
          <svg>
            <use xlink:href="assets/sprite.svg#facebook-icon-yellow"/>
          </svg>
        </a>

        <a target="_blank" href="https://www.instagram.com/lazlo.la/">
          <svg>
            <use xlink:href="assets/sprite.svg#instagram-icon-yellow"/>
          </svg>
        </a>

        <a target="_blank" href="https://www.facebook.com/lazlo">
          <svg>
            <use xlink:href="assets/sprite.svg#pinterest-icon-yellow"/>
          </svg>
        </a>

      </div>
    </div>

    <div class="footer-block">
      <h6>
        SEGUINOS EN INSTAGRAM
        <a href="https://www.instagram.com/<%= @instagram_client.user.username %>" target="_blank">
          @<%= @instagram_client.user.username %>
        </a>
      </h6>

      <div class="instagram-fotos">
        <% @instagram_client.user_recent_media.each_with_index do |media_item, i| %>
            <% break if i == 4 %>
            <a href="<%= media_item.link %>" target="_blank">
              <img src="<%= media_item.images.thumbnail.url %>">
            </a>
        <% end %>
      </div>

    </div>

    <div class="footer-block">
      <h6>CONTACTO</h6>

      <div class="contact">
        <a href="tel:+541134444444">+54 11 3444 4444</a>
        /
        <a href="tel:+541135555555">+54 11 3555 5555</a>

        <address alt="alo@lazlo.la">alo@lazlo.la</address>

      </div>


    </div>


  </div>
</footer>
<!-- End Footer-->




</body>
</html>
